<template>
    <v-row justify="center">
        <v-col cols="10">
                <v-tooltip bottom>
                    <template v-slot:activator="{on}">                
                        <v-list dense>
                            <v-list-item-group 
                                color="secondary"
                            >
                                <template v-for="(profesional, i) in profesionales">
                                    <v-list-item
                                        to="/professional"
                                        v-on="on"
                                        :key="i"
                                    >
                                        <v-list-item-avatar>
                                            <img :src="profesional.avatar">
                                        </v-list-item-avatar>

                                        <v-list-item-content>
                                            <v-list-item-title class="subtitle-2 font-weight-regular" v-text="profesional.title"></v-list-item-title>
                                            <v-list-item-subtitle class="caption font-weight-light" v-text="'Próxima Hora : '+profesional.next_available_hour"></v-list-item-subtitle>
                                        </v-list-item-content>
                                                
                                    </v-list-item>  
                                </template>                  
                            </v-list-item-group>
                        </v-list>
                    </template>
                    <span>Escoge la próxima hora o revisa la agenda del profesional</span>
                </v-tooltip>
        </v-col>
    </v-row>
</template>

<script>

export default {
    data: () => ({
        current_page : 1,
        profesionales: [
            { especialidades: [
                { name : 'Traumatología'},
            ], next_available_hour : 'Mar 12 - 12:45',
            avatar:'https://i.imgur.com/29ebm5Q.jpg', title: 'Daniel Cárcamo Pérez'}          
        ],     
    }),
};
</script>