<template>
    <v-row justify="center">
        <v-col cols="11">
            <!-- loading -->
            <Loader v-if="available_dates_exception == false && available_dates == null"></Loader>
            <!-- loading -->
            <!-- Mensaje de sin horas disponibles -->
            <template v-if="available_dates_exception == true">
                <v-card
                    tile
                    flat
                >
                    <v-card-title class="title font-weight-light mb-3"><v-icon color="action" class="mr-2" small>mdi-alert-circle-outline</v-icon>Sin disponibilidad dentro del mes y selección actual</v-card-title>
                    <!-- Mensaje de profesional seleccionado -->
                    <v-card-subtitle 
                        v-if="professional_rut != null"
                        class="subtitle-1 font-weight-light"
                    >
                    <v-icon color="action" class="mr-2 mt-n1" small>perm_contact_calendar</v-icon>{{professional_name}}
                    </v-card-subtitle>

                    <!-- Mensaje de especialidad seleccionada -->
                    <v-card-subtitle 
                        v-if="specialty_id != null"
                        class="subtitle-1 font-weight-light mt-n5"
                    >
                    <v-icon color="action" class="mr-2 mt-n1" small>class</v-icon>{{specialty_name}}
                    </v-card-subtitle>

                    <!-- Mensaje de especialidad de profesional -->
                    <v-card-subtitle 
                        v-if="professional_specialty_id != null && specialty_id == null"
                        class="subtitle-1 font-weight-light mt-n5"
                    >
                    <v-icon color="action" class="mr-2 mt-n1" small>perm_contact_calendar</v-icon>{{professional_specialty_name}}
                    </v-card-subtitle>                      

                    <!-- Mensaje de centro seleccionado -->
                    <v-card-subtitle 
                        v-if="center_id != null"
                        class="subtitle-1 font-weight-light mt-n5"
                    >
                    <v-icon color="action" class="mr-2 mt-n1" small>business</v-icon>{{center_name}}
                    </v-card-subtitle>
                </v-card> 
            </template>           
            <!-- Mensaje de sin horas disponibles -->
            <!-- Días disponibles -->
            <v-list
                dense
                :expand="false"
                v-if="available_dates_exception == false"
            >
                <template v-for="(date, date_idx) in available_dates">

                    <v-list-group
                        prepend-icon="date_range"
                        v-bind:key="date_idx"
                        color="primary"
                        no-action
                        v-model="date[1].active"
                    >
                        <template v-slot:activator>
                        <v-list-item-title class="subtitle-1 font-weight-light" v-text="formatDate(date[1].dia)"></v-list-item-title>
                        </template>

                            <template
                                v-for="(center, center_list_idx) in date[1].centers"
                            >
                                <v-list-group
                                    no-action
                                    sub-group
                                    v-bind:key="center_list_idx"
                                    v-model="center.subactive"
                                    :disabled="fetching_hours"
                                    v-on:click="fetchAvailableHours(date[1].dia, center, center_list_idx, date[1].centers)"
                                >
                                    <template v-slot:activator>
                                        <v-list-item>                                        
                                            <v-list-item-content>
                                            <v-list-item-title class="subtitle-1 font-weight-light" v-text="formatCenterName(center.center_id)"></v-list-item-title>
                                            </v-list-item-content>
                                        </v-list-item>                                       
                                    </template>

                                    <!-- mensaje de carga de horas -->
                                    <v-list-item
                                        v-if="available_hours == null && available_hours_exception == false"
                                    >
                                        <v-list-item-icon>
                                        <v-icon color="secondary" small>mdi-cloud-sync-outline</v-icon>
                                        </v-list-item-icon>                                    
                                        <v-list-item-title class="subtitle-1 font-weight-light font-italic">obteniendo agenda...</v-list-item-title>
                                    </v-list-item>
                                    <!-- mensaje de carga de horas -->

                                    <!-- mensaje de sin horas disponibles -->
                                    <v-list-item
                                        v-if="available_hours_exception == true"
                                    >
                                        <v-list-item-icon>
                                        <v-icon color="action" small>mdi-alert-circle-outline</v-icon>
                                        </v-list-item-icon>                                    
                                        <v-list-item-title class="subtitle-1 font-weight-light font-regular">Sin horas disponibles</v-list-item-title>
                                    </v-list-item>
                                    <!-- mensaje de sin horas disponibles -->
                                    <template v-for="(hour, hour_idx) in available_hours">
                                        <v-list-item
                                            value="hora"
                                            v-bind:key="hour_idx"
                                            link
                                            @click="setSelectedDate(date[1].dia, hour.hora, center.center_id)"
                                        >
                                            <v-list-item-title class="subtitle-1 font-weight-light" v-text="hour.hora.substring(0,5)"></v-list-item-title>
                                            <v-list-item-icon>
                                            <v-icon 
                                                color="success"
                                                small
                                                >done</v-icon>
                                            </v-list-item-icon>
                                        </v-list-item>
                                    </template>                                    
                                </v-list-group>                                    
                            </template>
                    </v-list-group>
                </template>
            </v-list>
            <!-- Días disponibles -->            
        </v-col>
    </v-row>
</template>

<script>
import Loader from '@/components/search/Loader.vue'
// importar axios para realizar requests
import axios from 'axios'
// Importing MapState to use map helpers
import { mapState } from 'vuex'

export default {
    components: {
        Loader
    },
    computed: mapState({
        specialty_id:                   state => state.selections.specialty_id,
        specialty_name:                 state => state.selections.specialty_name,
        center_id:                      state => state.selections.center_id,
        center_name:                    state => state.selections.center_name,
        professional_name:              state => state.selections.professional_name,
        professional_rut:               state => state.selections.professional_rut,
        professional_specialty_id:      state => state.selections.professional_specialty_id,
        professional_specialty_name:    state => state.selections.professional_specialty_name,
    }),    
    data: () => ({
        
        selected_professional_rut : null,
        selected_professional_name : null,

        selected_center_id : null,
        selected_center_name : null,
        
        selected_specialty_id : null,
        selected_specialty_name : null,     

        available_dates : null,
        available_dates_exception : false,
        available_hours : null,
        available_hours_exception : false,
        
        fetching_hours : false,

        centers : [
            [10001937, "CLLDS", "La Dehesa", "Clínica MEDS La Dehesa"],
            [10002401, "CMILC", "Isabel la Católica", "Centro MEDS Isabel la Católica"],
            [10001051, "CMCDT", "Calera de Tango", "Centro MEDS Calera de Tango"],
            [10001052, "CMMPU", "Maipú", "Centro MEDS Maipú"],
            [10001053, "CMFLM", "Fleming", "Centro MEDS Fleming"],
            [10001054, "CMRNC", "Rancagua", "Centro MEDS Rancagua"],
            [10001750, "CMLBR", "Las Brujas", "Centro MEDS Las Brujas"],
            [10003180, "CMPDR", "Piedra Roja", "Centro MEDS Piedra Roja"],
            [10003275, "CMANTOFA", "Antofagasta", "Centro MEDS Antofagasta"],
            [10003416, "CMCMV", "Telemedicina", "Telemedicina"],
        ]        
    }),
    created () {

        // obtener fecha mínima para consulta
        let minimum = this.minDate()
        let maximum = this.maxDate()

        this.available_dates_exception = false

        // seleccionar con qué especialidad se hace la consulta
        let query_specialty = null

        if(this.specialty_id == null){
            // no se ha seleccionado especialidad general
            // por lo tanto se utiliza la del profesional para búsqueda
            query_specialty = this.professional_specialty_id
        } else {
            // se seleccionó especialidad general
            // entonces la utilizamos para la búsqueda
            query_specialty = this.specialty_id
        }

        // seleccionar si se filtra por centro o no
        let request = null


        if(this.center_id == null){
            // se arma la request sin filtrar por centro
            request = process.env.VUE_APP_URL+'/schedule?rut='+this.professional_rut+'&specialty='+query_specialty+'&from='+minimum+'&to='+maximum
        } else {
            // se arma la request con filtro de centro
            request = process.env.VUE_APP_URL+'/schedule?rut='+this.professional_rut+'&specialty='+query_specialty+'&from='+minimum+'&to='+maximum+'&place='+this.center_id
        }
        // Obtener la data del servicio de disponiblidad
        axios.get(request)
        .then(
            response => {
                // obtener disponibilidad desde servicio

                this.available_dates = Object.entries(response.data.results)

                // filtrar listado excluyendo centros baneados
                this.available_dates = this.excludeBannedCenters(this.available_dates)

                if(this.center_id != null){
                    // filtrar listado quitando centros adicionales al seleccionado
                    this.available_dates = this.excludeUnrelatedCenters(this.available_dates)
                }

                if(this.available_dates.length == 0){
                    // no se encontró disponibilidad
                    this.available_dates_exception = true
                    this.available_dates = null
                    return
                } else {
                    this.available_dates.forEach((date, date_idx)=>{
                        
                        // a primer item de fecha se le agrega el parámetro active = true
                        date[1].active = ((date_idx == 0) ? true : false)
                        
                        // variable para almacenar los centros obtenidos
                        var date_centers = []

                        // iterar por los centros contenidos en la fecha para agregar el estado activo o inactivo
                        date[1].centros.forEach((center)=>{                            
                            // El primer índice siempre va a estar activo
                            var center_subactive = false
                            // asignar el valor de centro y estado de activo al nuevo objeto
                            let current_center = {"center_id" : center, "subactive" : center_subactive}
                            // agregar el objeto al array de centros
                            date_centers.push(current_center)
                        })

                        // asignar el nuevo array de objetos de centro al objeto fecha
                        date[1].centers = date_centers
                    })
                }
            }
        )
        .catch((error) => {
            // Error

            this.available_dates_exception = true

            if (error.response) {
                /*
                * The request was made and the server responded with a
                * status code that falls out of the range of 2xx
                */
                //console.log(error.response.data);
                //console.log(error.response.status);
                //console.log(error.response.headers);
            } else if (error.request) {
                /*
                * The request was made but no response was received, `error.request`
                * is an instance of XMLHttpRequest in the browser and an instance
                * of http.ClientRequest in Node.js
                */
                //console.log(error.request);
            } else {
                // Something happened in setting up the request and triggered an Error
                //console.log('Error', error.message);
            }
            //console.log(error.config);

            
        })
    },      
    methods : {
        fetchAvailableHours : function(date, center, center_list_idx, centers){
            
            // si el dropdown estaba activo, entonces se está generando un evento de cierre
            // por lo que no debemos hacer una carga al servicio para encontrar horas disponibles
            if(center.subactive == true){return}

            this.fetching_hours = true
            this.closeNonActiveCenters(center_list_idx, centers)

            // resetear las horas disponibles
            this.available_hours = null
            this.available_hours_exception = false
            
            // seleccionar con qué especialidad se hace la consulta
            let query_specialty = null

            if(this.specialty_id == null){
                // no se ha seleccionado especialidad general
                // por lo tanto se utiliza la del profesional para búsqueda
                query_specialty = this.professional_specialty_id
            } else {
                // se seleccionó especialidad general
                // entonces la utilizamos para la búsqueda
                query_specialty = this.specialty_id
            }

            // armar la consulta incluyendo la especialidad y el centro indicado
            let request = process.env.VUE_APP_URL+'/schedule?rut='+this.professional_rut+'&specialty='+query_specialty+'&day='+date+'&place='+center.center_id
            
            axios.get(request)
            .then(
                response => {
                    // obtener disponibilidad de horas desde servicio
                    this.available_hours = response.data.results
                    this.fetching_hours = false
                    
                    if(this.available_hours.length == 0){
                        // no se encontró disponibilidad
                        this.available_hours_exception = true
                        return
                    }

                }
            )
            .catch((error) => {
                // Error

                this.available_hours_exception = true

                if (error.response) {
                    /*
                    * The request was made and the server responded with a
                    * status code that falls out of the range of 2xx
                    */
                    //console.log(error.response.data);
                    //console.log(error.response.status);
                    //console.log(error.response.headers);
                } else if (error.request) {
                    /*
                    * The request was made but no response was received, `error.request`
                    * is an instance of XMLHttpRequest in the browser and an instance
                    * of http.ClientRequest in Node.js
                    */
                    //console.log(error.request);
                } else {
                    // Something happened in setting up the request and triggered an Error
                    //console.log('Error', error.message);
                }
                //console.log(error.config);

                
            })           
        },
        closeNonActiveCenters(val, items) {
            // closes all other active subitems using changing the value of their v-models
            items.forEach((x, i) => {
                if(val != i) x.subactive = false
            })
        },
        excludeUnrelatedCenters : function(available_dates){

            // excluir los centros que no corresponden al centro seleccionado
            // expresamente por el usuario, en caso de haber realizado ese filtro

            let available_dates_unrelated_centers_excluded = []

            // iterar por las fechas para identificar las que poseen varios centros
            available_dates.forEach((date, date_idx) => {
                
                // verificar si la fecha tiene más de 1 centro
                if(date[1].centros.length > 1){
                    // en caso de que la fecha tenga más de 1 centro
                    // se itera por cada uno para eliminarlo si no corresponde 
                    // al centro seleccionado por el usuario

                    date[1].centros.forEach((center, center_idx_to_remove) => {
                        // si el centro no tiene el mismo id del centro seleccionado
                        // se quitará de las opciones disponibles para ese día
                        if(center != this.center_id){
                            date[1].centros.splice(center_idx_to_remove,1)
                        }
                    })
                }

                // verificar si luego de eliminar el centro de telemedicina
                // el array de centros de disponibilidad quedó vacío
                if(date[1].centros.length != 0){
                    // si no quedó vacío entonces se va a utilizar
                    available_dates_unrelated_centers_excluded.push(available_dates[date_idx])
                }
            })

            return available_dates_unrelated_centers_excluded
        },        
        excludeBannedCenters : function(available_dates){

            // excluir telemedicina de los resultados y retornar un array sin las horas de telemedicina
            
            let available_dates_telemedicina_excluded = []

            // iterar por las fechas para identificar las que poseen
            // telemedicina en uno de sus centros
            available_dates.forEach((date, date_idx) => {

                // iterar por los centros asociados a cada fecha
                // para eliminar los que contengan telemedicina
                date[1].centros.forEach((center, center_idx_to_remove) => {
                    
                    if(center == '10001053') // fleming qa y prd
                    {
                        date[1].centros.splice(center_idx_to_remove,1)
                    }
                })

                // verificar si luego de eliminar el centro de telemedicina
                // el array de centros de disponibilidad quedó vacío
                if(date[1].centros.length != 0){
                    // si no quedó vacío entonces se va a utilizar
                    available_dates_telemedicina_excluded.push(available_dates[date_idx])
                }
            })
            // retornar el array filtrado habiendo quitado telemedicina
            return available_dates_telemedicina_excluded
        },
        minDate: function () {
            // returns minimum date for picker (current day)
            // get current Javascript date
            let today = new Date()
            // get month with leading zero if lower than 10
            let month   = (today.getMonth()+1) < 10 ? '0' + (today.getMonth()+1) : (today.getMonth()+1)
            // get day with leading zero if lower than 10
            let day     = today.getDate() < 10 ? '0' + (today.getDate()) : (today.getDate())
            // get full year
            let year    = today.getFullYear()
            // composing date with hyphens (mandatory for v-picker)
            let minimumDate = year  + "-" + month + "-" + day
            
            return  minimumDate

            // resource : https://www.w3resource.com/javascript-exercises/javascript-basic-exercise-3.php
        },         
        maxDate: function () {
            // returns minimum date for picker (current day)
            // get current Javascript date
            let today = new Date()
            // adding 3 months for maximum date
            today.setMonth(today.getMonth() + 1);
            // get month with leading zero if lower than 10
            let month   = (today.getMonth()+1) < 10 ? '0' + (today.getMonth()+1) : (today.getMonth()+1)
            // get day with leading zero if lower than 10
            let day     = today.getDate() < 10 ? '0' + today.getDate() : today.getDate()
            // get full year
            let year    = today.getFullYear()
            // composing date with hyphens (mandatory for v-picker)
            let maximumDate = year  + "-" + month + "-" + day
            
            return  maximumDate
        },        
        formatDate: function (date) {
            // return function to format date and display in chile time
            let options = {weekday: "long", month: "short", day: "numeric"}
            // we need to replace hyphens with dashes, because javascript treates them differently
            // with dashes (/) being more precise
            return new Date(date.replace(/-/g, '/')).toLocaleString('es-CL', options)

            // extended example
            // let options = {weekday: "long", year: "numeric", month: "long", day: "numeric", hour: "numeric", hour12:"false"}
            // resource : https://www.aprenderaprogramar.com/index.php?option=com_content&view=article&id=846:formato-fechas-javascript-tostring-tolocaledatestring-tolocaletimestrig-totimestring-ejemplo-cu01163e&catid=78&Itemid=206
        },
        formatCenterName: function(center_id){
            let formattedCenterName = this.centers.find(function(center){
                return center[0] == center_id
            })

            return formattedCenterName[2]
        },
        setSelectedDate (date, hour, center) {

            let fullDate = {
                selectedDate : date,
                selectedHour : hour,
                selectedCenter : center
            }
            // Vuex commit selected date and hour
            this.$store.commit('setSelectedDate', fullDate)

            // navegar hasta página de confirmación
            this.$router.push({ path: '/booking/confirm' }) 
        },
    },
};
</script>
