<template>
    <div>
        <v-row justify="center">
            <v-col cols="11">
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title class="subtitle-2 font-weight-regular"></v-list-item-title>
                        
                            <p v-if="!readMoreEnabled" 
                                class="subtitle-2 font-weight-regular" 
                            >
                                {{collapsedBio}}
                            </p>
                            <p v-if="readMoreEnabled" 
                                class="subtitle-2 font-weight-regular" 
                            >
                                {{expandedBio}}
                            </p>
                    </v-list-item-content>
                </v-list-item>
            </v-col>
            <v-col class="text-center" cols="11">
                    <v-btn 
                        text
                        dark 
                        color="secondary"
                        @click="toggleReadMore"
                    >
                        {{readMoreButtonText}}
                    </v-btn>                
            </v-col>            
        </v-row>
        <v-card-actions>
            <v-row justify="center">
                <v-col class="text-center" cols="10">

                    <!-- Web Booking disabled Professional -->
                    <template v-if="bookingDisabled">

                        <!-- Phone Booking -->
                        <!--v-btn
                            class="ma-2"
                            color="accent"
                            :href="'tel:+56224996500'"
                        >
                            <v-icon left>call</v-icon> Agendar en Call Center
                        </v-btn-->

                        <!-- WhatsApp Booking -->
                        <v-btn
                            class="ma-2"
                            color="accent"
                            :href="whatsAppBookingLink"
                        >
                            <v-icon left>call</v-icon> Agendar vía WhatsApp
                        </v-btn>
                    </template>
                   <!-- End Web Booking disabled Professional --> 
                </v-col>
            </v-row>
        </v-card-actions>            
    </div>    
</template>


<script>
// Importing MapState to use map helpers
import { mapState } from 'vuex'
export default {
    data: () => ({
        bookingDisabled : false,
        readMoreEnabled: false,
        readMoreButtonText : 'Ver más'
    }),
    created () {
    },    
    methods: {
        toggleReadMore(){
            if (this.readMoreEnabled == false){
                this.readMoreEnabled = true
                this.readMoreButtonText = 'Ver menos';
            } else
            if(this.readMoreEnabled == true){
                this.readMoreEnabled = false
                this.readMoreButtonText = 'Ver más';
            }  
        },      
    },
    computed: {
        ...mapState({
            professional_CV: state => state.current.professionalCV
        }),        
        collapsedBio: function () {
            // returns professional biography collapsed
            // defaults to 150 characters
            return this.professional_CV.slice(0, 150)+'...'
        },
        expandedBio: function () {
            // returns professional biography expanded
            // defaults all characters
            return this.professional_CV
        },
        whatsAppBookingLink: function () {
            let link                = 'https://api.whatsapp.com/send?phone=+56934053961'
            let message             = 'Hola. Quisiera agendar hora con '
            let professional_name   = "Daniel Cárcamo Pérez"
            return link + '&text=' + message + professional_name
        },        
  }
};
</script>
