<template>
    <v-content>
        <v-container>
            <v-row
                justify="center"
                :dense="this.$store.state.layout.topRowDense"
            >
                <v-col
                    :xs="this.$store.state.layout.mainCard.xs"
                    :sm="this.$store.state.layout.mainCard.sm"
                    :md="this.$store.state.layout.mainCard.md"
                    :lg="this.$store.state.layout.mainCard.lg"
                    :xl="this.$store.state.layout.mainCard.xl"
                >
                    <v-card
                        :tile="this.$store.state.shape.cardTile"
                    >
                            <v-img
                                v-if="image_error == false"
                                :src="professionalImage"
                                @error="imageError"
                            ></v-img>
                            <v-img
                                v-else
                                :src="alternative_image"
                            ></v-img>                            
                            <v-list-item three-line>
                            <v-list-item-content>
                                <v-list-item-title class="my-2 gray_80--text title font-weight-regular">{{professional_name.toUpperCase()}}</v-list-item-title>
                                <v-list-item-subtitle class="mb-2 primary--text subtitle-2 font-weight-regular">
                                    <template>{{professional_specialty_name}}</template>
                                </v-list-item-subtitle>
                                <v-list-item-subtitle
                                    v-if="professional_isapres != null"
                                    class="mb-2 secondary--text subtitle-2 font-weight-regular wrap-text">
                                    Isapres : 
                                    <template v-for="(isapre, index) in professional_isapres">
                                        {{isapre}}
                                        <template v-if="index < professional_isapres.length-1">
                                            /
                                        </template>
                                    </template>
                                </v-list-item-subtitle>
                                <!--v-list-item-subtitle class="mb-2 mr-2 secondary--text subtitle-2 font-weight-light">
                                    Atiende : 
                                    <template v-for="(atencion, index) in placeholder_professional.atiende">
                                        <v-chip 
                                            v-bind:key="index"
                                            class="mr-2"
                                            color="secondary"
                                            label
                                            outlined
                                            small
                                        >
                                        {{atencion.text}}
                                        </v-chip>
                                    </template>                                 
                                </v-list-item-subtitle-->

                             </v-list-item-content>
                            </v-list-item>
                            <v-row justify="center">
                                <v-col cols="12">
                                    <v-card tile>
                                        <v-tabs
                                            grow
                                            slider-color="action"

                                            slider-size="3"
                                        >
                                            <v-tab class="caption" to="/professional/booking_list">
                                                Próximas Horas
                                            </v-tab>
                                            <v-tab 
                                                v-if="professional_cv != null"
                                                class="caption" to="/professional/information">
                                                Currículum
                                            </v-tab>                                              
                                        </v-tabs>                                      
                                    </v-card>
                                    <router-view></router-view>
                                    
                                </v-col>
                                <v-col
                                    class="text-center"
                                    cols="12"
                                > 
                                    <v-divider class="mx-2"></v-divider>
                                </v-col>
                                <!-- Navigation Links -->
                                <!-- Backwards and forward -->   

                                <v-col
                                    class="text-center"
                                    cols="12"
                                > 
                                    <!-- Previous -->
                                    <v-btn
                                        color="secondary"
                                        class="my-2"
                                        @click="returnToProfessionalSearch"
                                    >
                                        Volver
                                    </v-btn>                             
                                </v-col>
                                <v-col
                                    class="text-center"
                                    cols="6"
                                > 
                                    <!-- Next -->
                                    <!--v-btn
                                        :disabled="!checkSelectionCompleted"
                                        @click="confirmSelection"
                                        color="accent"
                                        class="my-2"
                                    >
                                        Confirmar
                                    </v-btn-->                                
                                </v-col>                                
                            </v-row>
                    </v-card>   
                </v-col>
            </v-row>         
        </v-container>
    </v-content>        
</template>

<script>
import axios from 'axios'
// Importing MapState to use map helpers
import { mapState } from 'vuex'
export default {
    computed: {
        ...mapState({
            professional_rut:               state => state.selections.professional_rut,
            professional_name:              state => state.selections.professional_name,
            professional_specialty_id:      state => state.selections.professional_specialty_id,            
            professional_specialty_name:    state => state.selections.professional_specialty_name,
        }),
        professionalImage: function () {
            
            let image = process.env.VUE_APP_S3_PHOTO_BUCKET+'/'+this.professional_rut+'.png'
            return image
        },         
        checkSelectionCompleted : function(){
            if(this.$store.state.selections.hour == null){
                return false
            } else {
                return true
            }
        },         
    },
    data: () => ({
        professional : null,
        professional_cv : null,
        professional_isapres : null,
        image_error : false,
        alternative_image : null,
        placeholder_professional : null,
    }),
    created () {
    
        // resetear el cv almacenado en memoria
        this.$store.commit('setActiveProfessionalCV', this.professional_cv)

        // obtener los datos del profesional
        axios
        .get(process.env.VUE_APP_URL+'/doctors?rut='+this.professional_rut)
        .then(
            response => {

                // obtener especialidades de servicio
                let returned_professionals = Object.entries(response.data.results)
                
                // utilizar solamente el profesional con la especialidad requerida
                // necesario ya que hay profesionales que atienden en varias especialidades
                returned_professionals.forEach((professional)=>{

                    if(professional[1].specialty == this.professional_specialty_id){
                        // asignar solamente el profesional con la especialidad adecuada
                        this.professional = professional[1]

                        // obtener cv e isapres de profesional
                        return
                    }
                })
            }
        )

        // obtener isapres y cv del profesional
        axios
        .get(process.env.VUE_APP_BACK_URL+'/getCurriculum/'+this.professional_rut)
        .then(
            response => {
                // asignar cv de profesional
                this.professional_cv = response.data.content[0].curriculum
                // asignar isapres de profesional
                this.professional_isapres = response.data.content[0].isapres
                
                // limpiar el array de isapres (para eliminar puntos y espacios al comienzo y final)
                this.professional_isapres.forEach((isapre, index) => {
                    let trimmed_isapre = isapre.trim().split('Isapre').join("")
                    trimmed_isapre      = trimmed_isapre.trim().split('Clínica MEDS La Dehesa:').join("")
                    trimmed_isapre      = trimmed_isapre.trim().split('Centros MEDS:').join("")
                    trimmed_isapre      = trimmed_isapre.trim().split('Centro Antofagasta:').join("")
                    trimmed_isapre      = trimmed_isapre.trim().split('.').join("")
                    this.professional_isapres[index] = trimmed_isapre
                })
                this.$store.commit('setActiveProfessionalCV', this.professional_cv)
            }
        )
    },
    methods: {
        imageError : function(){
            // agregar lógica para imagen de traumatología
            // evaluar si la especialidad está dentro de traumatología para mostrar la imagen correspondiente
            this.alternative_image = process.env.VUE_APP_S3_PHOTO_BUCKET+"/especialidades.jpg",
            this.image_error = true
        },    
        returnToProfessionalSearch : function(){
            let fullDate = {
                selectedDate : null,
                selectedHour : null
            }

            // erase hour selection
            this.$store.commit('setSelectedDate', fullDate)
            
            // volver a la selección de profesionales
            this.$router.push({ path: '/search/professionals' })
        },
        confirmSelection : function(){
            this.$router.push({ path: '/booking/confirm' })
      }         
    },
};
</script>
<style scoped>
.wrap-text {
  -webkit-line-clamp: unset !important;
}
</style>
