<template>
    <div>
        <template>    
            <v-date-picker
                header-color="primary"
                color="success"
                full-width
                v-model="selectedDate"
                :allowed-dates="allowedDates"
                :show-current="minDate"
                :min="minDate"
                :max="maxDate"
                :first-day-of-week="1"
                locale="es-419"
                @click:date="selectDate"
                :title-date-format="formattedDate"
            >
            </v-date-picker>
        </template>
        
        <v-divider class="mx-2"></v-divider>
        
        <v-container>            
            <v-row justify="center">

                <v-col
                    xs="12"
                    sm="3"
                >
                    <!-- Selected Date Chip Info Chip -->
                    <div class="text-center">
                        <v-chip
                            class="ma-2"
                            color="success"
                            label
                            small
                        >                            
                        Fecha Seleccionada
                        </v-chip>
                    </div>
                    <!-- Selected Date Chip Info Chip -->                                    
                </v-col>                
                <v-col
                    xs="12"
                    sm="3"
                >
                    <!-- Current Date Chip Info Chip -->
                    <div class="text-center">
                        <v-chip
                            class="ma-2"
                            color="success"
                            label
                            small
                            outlined
                        >                       
                        Fecha Actual
                        </v-chip>
                    </div>
                    <!-- Current Date Chip Info Chip -->
                </v-col>

                <v-col
                    xs="12"    
                    sm="3"    
                >
                    <!-- Unavailable Date Chip Info Chip -->
                    <div class="text-center">                    
                        <v-chip
                            class="ma-2"
                            color="black"
                            label
                            small
                            outlined
                        >
                        Fecha Disponible
                        </v-chip>
                    </div>                    
                    <!-- Unavailable Date Chip Info Chip -->                 
                </v-col>
                
                <v-col
                    xs="12"
                    sm="3"
                >
                    <!-- Available Date Chip Info Chip -->
                    <div class="text-center">
                        <v-chip
                            class="ma-2"
                            color="date_picker_disabled"
                            label
                            small
                            outlined
                        >
                        Fecha No Disponible
                        </v-chip>
                    </div>
                    <!-- Available Date Chip Info Chip -->                   
                </v-col>
            </v-row>
        </v-container>            

    </div>
</template>


<script>

export default {
    data: () => ({
        // initializing first date as today short date
        selectedDate: new Date().toISOString().substr(0, 10),
        //availableDates : ["2020-03-05", "2020-03-12"]
    }),
    methods: {
        // Allowed Dates example using only even number dates
        // full implementation needs validate each date to true or false
        // and implement it as a function
        allowedDates: val => parseInt(val.split('-')[2], 10) % 2 === 0,
        selectDate: function () {
            
            // navigate to booking list for hour selection

            setTimeout( () => {
                this.$router.push('/professional/booking_list')               
            }, 700)
        }        
    },
    computed: {
        minDate: function () {
            // returns minimum date for picker (current day)
            // get current Javascript date
            let today = new Date()
            // get month with leading zero if lower than 10
            let month   = (today.getMonth()+1) < 10 ? '0' + (today.getMonth()+1) : (today.getMonth()+1)
            // get day with leading zero if lower than 10
            let day     = today.getDate() < 10 ? '0' + (today.getDate()) : (today.getDate())
            // get full year
            let year    = today.getFullYear()
            // composing date with hyphens (mandatory for v-picker)
            let minimumDate = year  + "-" + month + "-" + day
            
            return  minimumDate

            // resource : https://www.w3resource.com/javascript-exercises/javascript-basic-exercise-3.php
        },         
        maxDate: function () {
            // returns minimum date for picker (current day)
            // get current Javascript date
            let today = new Date()
            // adding 3 months for maximum date
            today.setMonth(today.getMonth() + 3);
            // get month with leading zero if lower than 10
            let month   = (today.getMonth()+1) < 10 ? '0' + (today.getMonth()+1) : (today.getMonth()+1)
            // get day with leading zero if lower than 10
            let day     = today.getDate() < 10 ? '0' + today.getDate() : today.getDate()
            // get full year
            let year    = today.getFullYear()
            // composing date with hyphens (mandatory for v-picker)
            let maximumDate = year  + "-" + month + "-" + day
            
            return  maximumDate
        },
        formattedDate: function () {
            // return function to format date and display in chile time
            let options = {weekday: "long", month: "short", day: "numeric"}
            // we need to replace hyphens with dashes, because javascript treates them differently
            // with dashes (/) being more precise
            return date => new Date(date.replace(/-/g, '/')).toLocaleString('es-CL', options)

            // extended example
            // let options = {weekday: "long", year: "numeric", month: "long", day: "numeric", hour: "numeric", hour12:"false"}
            // resource : https://www.aprenderaprogramar.com/index.php?option=com_content&view=article&id=846:formato-fechas-javascript-tostring-tolocaledatestring-tolocaletimestrig-totimestring-ejemplo-cu01163e&catid=78&Itemid=206
        },     
    }, 

};
</script>
<style scoped>
    /* override default css for v-picker */
    /* this is done because vuetify API doesn't have props like 'flat' or tile as other components */
    .v-picker{
        /* disable default border radius for v-picker */
        border-radius: 0px !important;
        /* disable default drop shadow for v-picker */
        -webkit-box-shadow: 0px 0px 0px -200px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 0px -200px rgba(0,0,0,1);
        box-shadow: 0px 0px 0px -200px rgba(0,0,0,1);
    }
</style>