<template>
    <v-content>
        <v-container>
            <v-row
                justify="center"
                :dense="this.$store.state.layout.topRowDense"
            >
                <v-col
                    :xs="this.$store.state.layout.mainCard.xs"
                    :sm="this.$store.state.layout.mainCard.sm"
                    :md="this.$store.state.layout.mainCard.md"
                    :lg="this.$store.state.layout.mainCard.lg"
                    :xl="this.$store.state.layout.mainCard.xl"
                >
                    <v-card
                        :tile="this.$store.state.shape.cardTile"
                    >
                        <v-tabs
                            icons-and-text
                            grow
                            background-color="primary"
                            dark
                        >
                            <v-tab class="caption">
                                Confirmación
                                <v-icon 
                                    medium
                                >
                                    check
                                </v-icon>
                            </v-tab>                          
                        </v-tabs>                       
                        <!-- End Tool Bar-->    
                        <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title class="gray_80--text title font-weight-regular">Revise los detalles y confirme su hora</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-divider class="mx-2"></v-divider>

                        <v-col
                        cols="12"
                        >
                            <template>
                            <v-card
                                tile
                                flat
                            >
                                <v-list dense>
                                    <v-list-item-group 
                                        disabled
                                        flat
                                    >

                                    <v-list-item v-if="selections_professional_rut != null">
                                    <v-list-item-icon class="ml-8">
                                        <v-icon color="primary">perm_contact_calendar</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-content>
                                        <v-list-item-title class="subtitle-1 font-weight-light" v-text="'Profesional: '+selections_professional_name"></v-list-item-title>
                                    </v-list-item-content>
                                    </v-list-item>

                                    <v-list-item v-if="selections_professional_specialty_id != null">
                                    <v-list-item-icon class="ml-8">
                                        <v-icon color="primary">class</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-content>
                                        <v-list-item-title class="subtitle-1 font-weight-light" v-text="'Especialidad: '+selections_professional_specialty_name"></v-list-item-title>
                                    </v-list-item-content>
                                    </v-list-item>

                                    <v-list-item v-if="selections_appointment_date != null">
                                    <v-list-item-icon class="ml-8">
                                        <v-icon color="primary">date_range</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-content>
                                        <v-list-item-title class="subtitle-1 font-weight-light" v-text="'Día y Hora: '+formatDate(selections_appointment_date)+' / '+selections_appointment_hour.substring(0,5)+ ' horas.'"></v-list-item-title>
                                    </v-list-item-content>
                                    </v-list-item>
                                    
                                    <v-list-item v-if="selections_appointment_center_id != null">
                                    <v-list-item-icon class="ml-8">
                                        <v-icon color="primary">business</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-content>
                                        <v-list-item-title class="subtitle-1 font-weight-light" v-text="formatCenterName(selections_appointment_center_id)"></v-list-item-title>
                                    </v-list-item-content>
                                    </v-list-item>
                                </v-list-item-group>
                                </v-list>
                                <template v-if="isapre_autocomplete_show">
                                    <v-row justify="center">
                                        <v-col cols="8">
                                            <v-autocomplete
                                                v-model="selected_isapre_name"
                                                :disabled="dialog_loading"
                                                background-color="white"
                                                item-color="success"
                                                outlined
                                                :items="isapres"
                                                :item-value="[1]"
                                                :item-text="[0]"
                                                no-data-text="No Encontrado"
                                                filled
                                                label="SELECCIONA ISAPRE"
                                            >
                                            </v-autocomplete>
                                        </v-col>
                                    </v-row>
                                </template>
                            </v-card>
                            </template>
                        </v-col>

                        <v-divider class="mx-2"></v-divider>

                            <v-card-actions>
                            <v-row justify="center">
                                <v-col
                                    class="text-center"
                                    cols="6"
                                > 
                                    <!-- Return To Search -->
                                    <v-btn
                                        color="secondary"
                                        to="/professional/booking_list"
                                    >
                                        Volver
                                    </v-btn>
                                    <!-- Return To Search -->
                                </v-col>
                                <v-col
                                    class="text-center"
                                    cols="6"
                                > 

                                    <!-- confirm button -->
                                    <v-btn
                                        color="success"
                                        @click="confirmHour()"
                                        :loading="dialog_loading"
                                        :disabled="selected_isapre_for_telemedicina"
                                    >
                                        <v-icon left>how_to_reg</v-icon>
                                        Agendar
                                    </v-btn>
                                    <!-- Call Button -->   

                                    <v-dialog v-model="dialog" persistent max-width="400">
                                        <v-card>
                                            <v-card-title class="title">{{dialog_title}}</v-card-title>
                                            <v-card-text>{{dialog_message}}</v-card-text>
                                            <v-card-actions>
                                            <v-spacer></v-spacer>
                                                <v-col
                                                    class="text-center"
                                                    cols="12"
                                                > 
                                                    <!-- Previous -->
                                                    <v-btn color="success" @click="endProcess()">Aceptar</v-btn>                        
                                                </v-col>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                </v-col>                                
                            </v-row>                              
                            </v-card-actions>
                    </v-card>
                    <!-- End Login Card -->          
                </v-col>
            </v-row>
        </v-container>
    </v-content>
</template>

<script>
// importar axios para realizar requests
import axios from 'axios'
// Importing MapState to use map helpers
import { mapState } from 'vuex'

export default {
    computed: {
        ...mapState({
            user_rut: state=> state.user.rut,
            user_name: state=> state.user.name,
            user_email: state=> state.user.email, 
            user_phone: state=> state.user.phone,
            user_gender: state=> state.user.gender,
            user_birthday: state=> state.user.birthday,
            selections_specialty_id: state=> state.selections.specialty_id,
            selections_specialty_name: state=> state.selections.specialty_name,
            selections_professional_rut: state=> state.selections.professional_rut,
            selections_professional_specialty_id: state=> state.selections.professional_specialty_id,
            selections_professional_specialty_name: state=> state.selections.professional_specialty_name,
            selections_professional_name: state=> state.selections.professional_name,
            selections_center_name: state=> state.selections.center_name,
            selections_center_id: state=> state.selections.center_id,
            selections_appointment_date: state=> state.selections.appointment_date,
            selections_appointment_hour: state=> state.selections.appointment_hour,
            selections_appointment_center_id: state=> state.selections.appointment_center_id,
            init_telemedicina: state=> state.init.telemedicina,
        }),
        isapre_autocomplete_show : function(){   
            // muestra autocomplete de isapres para seleccionar
            // solo si el centro seleccionado es telemedicina         
            if(this.selections_appointment_center_id == 10003416)
            {
                return true
            } else {
                return false
            }
        },
        selected_isapre_for_telemedicina : function(){
            // indica si el usuario puede confirmar la reserva
            // basado en si el centro seleccionado es telemedicina
            // y la isapre ha sido seleccionada

            // si el usuario no seleccionó telemedicina,
            // entonces va a poder confirmar la reserva sin este paso
            if(this.selections_appointment_center_id == 10003416)
            {
                if(this.selected_isapre_name == null){
                    return true
                } else {
                    return false
                }
            } else {
                return false
            }
        }
    }
    ,    
    data: () => ({  
        dialog: false,
        // listado completo de centros
        centers : [
            [10001937, "CLLDS", "La Dehesa", "Clínica MEDS La Dehesa"],
            [10002401, "CMILC", "Isabel la Católica", "Centro MEDS Isabel la Católica"],
            [10001051, "CMCDT", "Calera de Tango", "Centro MEDS Calera de Tango"],
            [10001052, "CMMPU", "Maipú", "Centro MEDS Maipú"],
            [10001053, "CMFLM", "Fleming", "Centro MEDS Fleming"],
            [10001054, "CMRNC", "Rancagua", "Centro MEDS Rancagua"],
            [10001750, "CMLBR", "Las Brujas", "Centro MEDS Las Brujas"],
            [10003180, "CMPDR", "Piedra Roja", "Centro MEDS Piedra Roja"],
            [10003275, "CMANTOFA", "Antofagasta", "Centro MEDS Antofagasta"],
            [10003416, "CMCMV", "Telemedicina", "Telemedicina"],
        ],
        // listado de isapres para autocomplete
        isapres : [
            ["Colmena", "COLMENA"],
            ["Banmédica", "BANMEDICA"],
            ["Vida Tres", "VIDA TRES"],
            ["Cruz Blanca", "CRUZ BLANCA"],
            ["Fundación", "FUNDACION"],
            ["Nueva Masvida", "NUEVA MASVIDA"],
            ["Consalud", "CONSALUD"],
            ["Isalud", "ISALUD"],
            ["Fonasa", "FONASA"],
            ["Particular", "PARTICULAR"],
        ],
        // almacena el valor de la isapre seleccionada
        selected_isapre_name : null,
        dialog_title : null,
        dialog_message : null,
        dialog_loading : false,
       
    }),
    methods : {        
        formatDate: function (date) {
            // return function to format date and display in chile time
            let options = {weekday: "long", month: "short", day: "numeric"}
            // we need to replace hyphens with dashes, because javascript treates them differently
            // with dashes (/) being more precise
            return new Date(date.replace(/-/g, '/')).toLocaleString('es-CL', options)

            // extended example
            // let options = {weekday: "long", year: "numeric", month: "long", day: "numeric", hour: "numeric", hour12:"false"}
            // resource : https://www.aprenderaprogramar.com/index.php?option=com_content&view=article&id=846:formato-fechas-javascript-tostring-tolocaledatestring-tolocaletimestrig-totimestring-ejemplo-cu01163e&catid=78&Itemid=206
        },
        formatCenterName: function(center_id){

            let formattedCenterName = this.centers.find(function(center){
                return center[0] == center_id
            })

            return formattedCenterName[3]
        },
        confirmHour : function(){

            this.dialog_loading = true

            var new_appointment = new FormData()

            new_appointment.set("professional", this.selections_professional_rut)
            new_appointment.set("patient", this.user_rut)
            new_appointment.set("specialty", this.selections_professional_specialty_id)
            new_appointment.set("day", this.selections_appointment_date)
            new_appointment.set("hour", this.selections_appointment_hour)
            new_appointment.set("center", this.selections_appointment_center_id)

            // añadir el parámetro isapre siempre que se haya seleccionado una hora
            // para telemedicina
            if(this.selections_appointment_center_id == 10003416){
                new_appointment.set("isapre", this.selected_isapre_name.toUpperCase())
            }

            // mostrar los valores
            //for (var value of new_appointment.values()) {
              //  console.log(value); 
            //}

            axios({
                method: 'post',
                url: process.env.VUE_APP_URL+'/appointment',
                data: new_appointment
            })
            .then( response => {
                
                // hora fue reservada exitosamente

                // agregar lógica de payment de telemedicina
                // esto sucede siempre que la hora corresponda a telemedicina
                if(this.selections_appointment_center_id == 10003416){
                    
                    // como la hora es de telemedicina, se envía al endpoint de pago
                    var new_payment = new FormData()

                    new_payment.set("id_cita", response.data.results.id_cita)
                    new_payment.set("rut", this.user_rut.toUpperCase())
                    new_payment.set("correo", this.user_email.toUpperCase())
                    new_payment.set("isapre", this.selected_isapre_name.toUpperCase())
                    new_payment.set("nombre", this.user_name.toUpperCase())

                    axios({
                        method: 'post',
                        url: process.env.VUE_APP_URL+'/payment',
                        data: new_payment
                    })
                    .then(() => {
                        this.$ga.event('Reserva', 'ReservaTelemedicina', 'SPE:'+this.selections_professional_specialty_name)                        
                        this.dialog_loading = false
                        this.dialog_title = '¡Listo!'
                        this.dialog_message = '¡Tu hora ha sido agendada con éxito! Recibirás un correo con un link para hacer efectiva tu cita!'
                        this.dialog = true
                    })
                    .catch(() => {
                        // error desconocido
                        this.dialog_loading = false
                        this.dialog_title = 'Lo sentimos'
                        this.dialog_message = "Ha ocurrido un problema al agendar tu hora. Por favor intenta más tarde"
                        this.dialog = true
                    })                     
                } else {
                    // hora no correspondía a telemedicina, por tanto no se hizo proceso de PAYMENT
                    this.$ga.event('Reserva', 'ReservaPresencial', 'SPE:'+this.selections_professional_specialty_name)
                    this.dialog_loading = false
                    this.dialog_title = '¡Listo!'
                    this.dialog_message = 'Tu hora ya ha sido agendada con éxito. Recibirás un mensaje de Confirmación a tu WhatsApp registrado. Recuerda que poco antes de la hora efectiva de tu cita, deberás confirmarla, de lo contrario perderás tu cupo.'
                    this.dialog = true
                }
            })
            .catch((error) => {

                if(error.response.status == 404){
                    // la hora ya estaba tomada
                    this.dialog_title = 'Lo sentimos'
                    this.dialog_message = "La hora seleccionada ya ha sido tomada. Por favor selecciona otra hora"
                    this.dialog = true
                } else {
                    // error desconocido
                    this.dialog_title = 'Lo sentimos'
                    this.dialog_message = "Ha ocurrido un problema al agendar tu hora. Por favor intenta más tarde"
                    this.dialog = true
                }
            }) 
        },     
        endProcess : function(){
            // viajar hacia el login con telemedicina activado
            // o desactivado según sea como se haya inicializado

            if(this.init_telemedicina){
                this.$router.push({ path: '/telemedicina' })
            } else {
                this.$router.push({ path: '/login' })
            }
            
        }
    }
};
</script>