<template>        
    <!-- Sizes your content based upon application components -->
    <v-content>
        
        <!-- Provides the application the proper gutter -->
        <v-container>
            <v-row justify="center">
                <v-col
                    xs="12"
                    sm="6"
                    md="6"
                >
                    <!-- Login Card -->

                    <!-- End Login Card -->          
                </v-col>
            </v-row>
        </v-container>
    </v-content>
</template>

<script>

export default {
  name: 'Confirm',
    data: () => ({    
    }),

};
</script>