<template>
    <v-row
        justify="center"
    >
        <v-col
            cols="11"
            class="pt-6"
        >
            <!-- Selected Name Chip -->
            <v-chip
                v-if="name != null"
                class="mr-2 mb-2 subtitle-1 font-weight-regular"
                color="accent"
                label
                close-icon="clear"
            >
                <v-avatar left>
                    <v-icon>{{chips.name.icon}}</v-icon>
                </v-avatar>
                {{name}}
            </v-chip>
            <!-- Selected Name Chip -->

            <!-- Selected Speciality Chip -->
            <v-chip
                v-if="specialty != null"
                class="mr-2 mb-2 subtitle-1 font-weight-regular"
                color="accent"
                label
                close-icon="clear"
            >
                <v-avatar left>
                    <v-icon>{{chips.speciality.icon}}</v-icon>
                </v-avatar>
                {{specialty}}
            </v-chip>
            <!-- Selected Speciality Chip -->

            <!-- Selected Professional Chip -->
            <v-chip
                v-if="professional != null"
                class="mr-2 mb-2 subtitle-1 font-weight-regular"
                color="accent"
                label
                close-icon="clear"
            >
                <v-avatar left>
                    <v-icon>{{chips.professional.icon}}</v-icon>
                </v-avatar>
                {{professional}}
            </v-chip>
            <!-- Selected Professional Chip -->  

            <!-- Selected Center Chip -->
            <v-chip
                v-if="center != null"
                class="mr-2 mb-2 subtitle-1 font-weight-regular"
                color="accent"
                label
                close-icon="clear"
            >
                <v-avatar left>
                    <v-icon>{{chips.center.icon}}</v-icon>
                </v-avatar>
                {{center}}
            </v-chip>
            <!-- Selected Center Chip -->
        </v-col>        
    </v-row>
</template>

<script>
// Importing MapState to use map helpers
import { mapState } from 'vuex'

export default {
    computed: mapState({
        name:         state => state.user.name,
        specialty:    state => state.selections.specialty_name,
        center:       state => state.selections.center_name,
        professional: state => state.selections.professional_name,
    }),
    methods : {
        formatDate: function (date) {
            // return function to format date and display in chile time
            let options = {weekday: "long", month: "short", day: "numeric"}
            // we need to replace hyphens with dashes, because javascript treates them differently
            // with dashes (/) being more precise
            return new Date(date.replace(/-/g, '/')).toLocaleString('es-CL', options)

            // extended example
            // let options = {weekday: "long", year: "numeric", month: "long", day: "numeric", hour: "numeric", hour12:"false"}
            // resource : https://www.aprenderaprogramar.com/index.php?option=com_content&view=article&id=846:formato-fechas-javascript-tostring-tolocaledatestring-tolocaletimestrig-totimestring-ejemplo-cu01163e&catid=78&Itemid=206
        },        
    },
    data: () => ({
        // Tooltips
        tooltip : 'Quita cualquier filtro para escogerlo de nuevo',
        // Chips data
        chips : {
            name : 
            {
                icon : 'account_box',
                closed : false,
            },
            speciality : 
            {
                icon : 'class',
                closed : false,
            },
            professional :
            {
                icon : 'perm_contact_calendar',
                closed : false,
            },
            center : 
            {
                icon : 'business',
                closed : false,
            },
            hour : 
            {
                icon : 'access_time',
                closed : false,
            },
        }
    }),
};
</script>
