<template>
    <v-row justify="center">
        <v-col
            cols="12"
            class="mb-n10"
        >
            <v-list dense>
                <v-list-item-group color="accent" class="promotion">
                    <template v-for="(centro, i) in centros">
                        <v-list-item
                            @click="setSelectedCenter(centro.title)"
                            :key="i"
                        >
                            <v-list-item-icon>
                                <v-icon color="success">business</v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                                <v-list-item-title class="subtitle-1 font-weight-regular accent--text" v-text="centro.title"></v-list-item-title>
                                <v-list-item-subtitle class="caption font-weight-bold secondary--text" >¡Aprovecha 30% en todas las especialidades durante marzo!</v-list-item-subtitle>
                                <v-list-item-subtitle class="caption font-weight-light" v-text="centro.subtitle"></v-list-item-subtitle>
                            </v-list-item-content>
                            <v-btn
                                x-small
                                dark
                                color="action"
                                @click="setSelectedCenter(centro.title)"
                            >
                                ¡Lo Quiero!
                            </v-btn>                            
                        </v-list-item>  
                    </template>                                                 
                </v-list-item-group>
            </v-list>   
        </v-col>
    </v-row>
</template>

<script>

export default {
  methods : {
    setSelectedCenter (center) {
      this.$store.commit('setSelectedCenter', center)

      // navigating to professional selection
      this.$router.push({ path: '/search/professionals' })    
    },
  },    
    data: () => ({
        centros: [
            { title:'MEDS Piedra Roja', subtitle:'Espacio Urbano La Laguna, Chicureo / Piso 2'},
        ],   
    }),
};
</script>
 
<style scoped>
    .promotion {
        background-color: rgb(250, 250, 250) !important;
    }
</style>