<template>
    <div class="text-center">
        <v-progress-circular
            indeterminate
            color="secondary"
            :size="50"
            class="my-10"
        >
        </v-progress-circular>
    </div>
</template>
<script>
export default {
    data: () => ({
    })
}
</script>
