<template>
    <v-row justify="center">
        <v-col
            cols="12"
            class="mb-n10"
        >
            <v-list dense>
                <v-list-item-group
                    color="accent" 
                    class="promotion mt-2"
                    no-action
                >
                    <v-list-item 
                        @click="setSelectedSpeciality(specialities[0].name)"
                    >
                        <v-list-item-icon>
                            <v-icon color="success">{{specialities[0].icon}}</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title class="subtitle-1 font-weight-regular success--text" v-text="specialities[0].name"></v-list-item-title>
                            <v-list-item-subtitle class="caption font-weight-bold secondary--text" >¡15% de descuento durante marzo!</v-list-item-subtitle>
                            <v-list-item-subtitle class="caption font-weight-light" >Términos y condiciones aplican *</v-list-item-subtitle>
                        </v-list-item-content>
                        <v-btn
                            @click="setSelectedSpeciality(specialities[0].name)"
                            dark
                            color="action"
                            x-small
                        >
                            ¡Lo quiero!
                        </v-btn>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-col>
    </v-row>
</template>

<script>

export default {
  methods : {
    setSelectedSpeciality (speciality) {
      this.$store.commit('setSelectedSpeciality', speciality)

      // navigating to professional selection
      this.$router.push({ path: '/search/professionals' })    
    },
  },
    data: () => ({
      specialities : 
        [
          { color: 'pantone_361_c', icon : 'mdi-iv-bag', name : 'Traumatología Y Ortopedia'}
          
        ],
    }),
};
</script>

<style scoped>
    .promotion {
        background-color: rgb(250, 250, 250) !important;
    }
</style>