<template>
  <v-app
    id="app-main"
  >
      <template>
        <!-- APP BAR -->
        <!--div>
          <v-app-bar
            color="primary"
            dark
          > 
            <v-toolbar-title>MEDS Reserva de Hora</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu
              left
              bottom
            >
              <template v-slot:activator="{ on }">
                <v-btn 
                  icon 
                  v-on="on"
                >
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item>
                  <router-link to="/login">
                    <v-list-item-title>Ingreso</v-list-item-title>
                  </router-link>
                </v-list-item>

                <v-divider></v-divider>

                <v-list-item>
                  <router-link to="/search/">
                    <v-list-item-title>Búsqueda</v-list-item-title>
                  </router-link>
                </v-list-item>
                <v-list-item>
                  <router-link to="/search/centers">
                    <v-list-item-title>Buscar Centros</v-list-item-title>
                  </router-link>
                </v-list-item>
                <v-list-item>
                  <router-link to="/search/specialities">
                    <v-list-item-title>Buscar Especialidades</v-list-item-title>
                  </router-link>
                </v-list-item>
                <v-list-item>
                  <router-link to="/search/professionals">
                    <v-list-item-title>Buscar Profesionales</v-list-item-title>
                  </router-link>
                </v-list-item>

                <v-divider></v-divider>

                <v-list-item>
                  <router-link to="/professional/">
                    <v-list-item-title>Profesional</v-list-item-title>
                  </router-link>
                </v-list-item>
                <v-list-item>
                  <router-link to="/professional/booking_calendar">
                    <v-list-item-title>Profesional - Calendario</v-list-item-title>
                  </router-link>
                </v-list-item>
                <v-list-item>
                  <router-link to="/professional/booking_list">
                    <v-list-item-title>Profesional - Agenda</v-list-item-title>
                  </router-link>
                </v-list-item>
                <v-list-item>
                  <router-link to="/professional/information">
                    <v-list-item-title>Profesional - Información</v-list-item-title>
                  </router-link>
                </v-list-item>                

                <v-divider></v-divider>

                <v-list-item>
                  <router-link to="/booking/confirm">
                    <v-list-item-title>Confirmación de Hora</v-list-item-title>
                  </router-link>
                </v-list-item>              
              </v-list>
            </v-menu>
          </v-app-bar>
        </div-->
        <!-- APP BAR -->                
      </template>

      <!-- Loads all main routes -->
      <router-view></router-view>
  </v-app>
</template>

<script>

export default {  
  data: () => ({
    drawer: false,
    mini: true,
  }),
};
</script>

<style scoped>
  #app-main{
    background-image : url('/background_alt.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(1, 43, 91, 1);
  }
</style>