<template>        
    <v-content>
        <v-container>
            <v-row 
                justify="center"
                :dense="this.$store.state.layout.topRowDense"
            >
                <v-col
                    :xs="this.$store.state.layout.mainCard.xs"
                    :sm="this.$store.state.layout.mainCard.sm"
                    :md="this.$store.state.layout.mainCard.md"
                    :lg="this.$store.state.layout.mainCard.lg"
                    :xl="this.$store.state.layout.mainCard.xl"
                >
                    <!-- Login Card -->
                    <v-card
                        :tile="this.$store.state.shape.cardTile"
                    >
                        <!-- Tool Bar-->
                        <v-toolbar
                            color="primary"
                            dark
                            >
                            <v-toolbar-title>Reserva de Horas</v-toolbar-title>
                        </v-toolbar>
                        <!-- End Tool Bar-->    

                        <template>
                            <v-form
                                ref="form_rut"
                                v-model="form_rut_valid"
                                :lazy-validation="form_rut_lazy"
                            >
                            
                                <!-- Rut -->
                                <v-row justify="center">
                                    <v-col
                                        :cols="this.$store.state.layout.userInputs.cols"
                                        :sm="this.$store.state.layout.userInputs.sm"
                                    >
                                        <v-text-field
                                            class="mt-6"
                                            v-model="rut"
                                            :rules="rutRules"
                                            placeholder="Rut del paciente"
                                            required
                                            :disabled="newPatient || returningPatient"
                                            append-icon="credit_card"
                                            color="secondary"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <!-- End Rut -->
                            </v-form>                            

                            <v-form
                                ref="form_data"
                                v-model="form_data_valid"
                                :lazy-validation="form_data_lazy"
                            >  
                                <!-- Name -->
                                <transition name="fade">

                                  
                                        <v-row v-if="newPatient" justify="center">
                                            <v-col
                                                :cols="this.$store.state.layout.userInputs.cols"
                                                :sm="this.$store.state.layout.userInputs.sm"
                                            >
                                                <v-text-field
                                                    v-model="name"
                                                    :counter="20"
                                                    :rules="nameRules"
                                                    placeholder="Primer nombre y apellido paciente"
                                                    required
                                                    append-icon="person"
                                                    color="secondary"
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>

                                </transition>
                                <!-- End Name -->

                                <!-- Phone -->
                                <transition name="fade">
                                    <v-row v-if="newPatient || returningPatient" justify="center">
                                        <v-col
                                            :cols="this.$store.state.layout.userInputs.cols"
                                            :sm="this.$store.state.layout.userInputs.sm"
                                        >
                                            <v-text-field
                                                v-model="phone"
                                                :rules="phoneRules"
                                                placeholder="56XXXXXXXXX"
                                                required
                                                append-icon="phone"
                                                color="secondary"
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </transition>                                
                                <!-- End Phone-->

                                <!-- Email -->
                                <transition name="fade">
                                    <v-row v-if="newPatient || returningPatient" justify="center">
                                        <v-col
                                            :cols="this.$store.state.layout.userInputs.cols"
                                            :sm="this.$store.state.layout.userInputs.sm"
                                        >
                                            <v-text-field
                                                v-model="email"
                                                :rules="emailRules"
                                                placeholder="Email del paciente"
                                                required
                                                append-icon="email"
                                                color="secondary"
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </transition>  
                                <!-- End Email-->     

                                <!-- Gender -->
                                <transition name="fade">
                                    <v-row v-if="newPatient" justify="center">
                                        <v-col
                                            :cols="this.$store.state.layout.userInputs.cols"
                                            :sm="this.$store.state.layout.userInputs.sm"
                                        >
                                        <v-autocomplete
                                            v-model="gender"
                                            :items="gender_items"
                                            :rules="genderRules"
                                            placeholder="Género del paciente"
                                            color="secondary"
                                            no-data-text="No disponible"
                                        >
                                        </v-autocomplete>
                                        </v-col>
                                    </v-row>
                                </transition>  
                                <!-- End Gender-->   

                                <!-- Birth Date -->
                                <transition name="fade">
                                    <v-row v-if="newPatient" justify="center">
                                        <v-col
                                            :cols="this.$store.state.layout.userInputs.cols"
                                            :sm="this.$store.state.layout.userInputs.sm"
                                        >
                                            <template>
                                            <v-menu
                                                ref="birthdayMenu"
                                                v-model="birthdayMenu"
                                                :close-on-content-click="false"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="290px"
                                            >
                                                <template v-slot:activator="{ on }">
                                                <v-text-field
                                                    v-model="birthday"
                                                    placeholder="Fecha de nacimiento del paciente"
                                                    append-icon="event"
                                                    :rules="birthDayRules"
                                                    readonly
                                                    v-on="on"
                                                    color="secondary"
                                                ></v-text-field>
                                                </template>
                                                <v-date-picker
                                                    ref="picker"
                                                    v-model="birthday"
                                                    :max="maxDate"
                                                    min="1920-01-01"
                                                    @change="save"
                                                    :title-date-format="formattedDate"
                                                    color="primary"
                                                ></v-date-picker>
                                            </v-menu>
                                            </template>
                                        </v-col>
                                    </v-row>
                                </transition>  
                                <!-- End Birth Date-->
                                <!-- Nationality -->
                                <transition name="fade">
                                    <v-row v-if="newPatient" justify="center">
                                        <v-col
                                            :cols="this.$store.state.layout.userInputs.cols"
                                            :sm="this.$store.state.layout.userInputs.sm"
                                        >
                                        <v-autocomplete
                                            v-model="country"
                                            item-text="country_name"
                                            item-value="country_code"
                                            :items="country_items"
                                            :rules="countryRules"
                                            @change="fetchRegionItems"
                                            placeholder="Nacionalidad del paciente"
                                            color="secondary"
                                            no-data-text="No disponible"
                                        >
                                        </v-autocomplete>
                                        </v-col>
                                    </v-row>
                                </transition>  
                                <!-- End Nationality-->
                                <!-- Region -->
                                <transition name="fade">
                                    <v-row v-if="newPatient" justify="center">
                                        <v-col
                                            :cols="this.$store.state.layout.userInputs.cols"
                                            :sm="this.$store.state.layout.userInputs.sm"
                                        >
                                        <v-autocomplete
                                            :disabled="region_items[0]['disabled']"
                                            v-model="region"
                                            item-value="region_code"
                                            item-text="region_name"
                                            :items="region_items"
                                            :rules="regionRules"
                                            @change="fetchCommuneItems"
                                            placeholder="Region del paciente"
                                            color="secondary"
                                            no-data-text="No disponible"
                                        >
                                        </v-autocomplete>
                                        </v-col>
                                    </v-row>
                                </transition>  
                                <!-- End Region -->
                                <!-- Commune -->
                                <transition name="fade">
                                    <v-row v-if="newPatient" justify="center">
                                        <v-col
                                            :cols="this.$store.state.layout.userInputs.cols"
                                            :sm="this.$store.state.layout.userInputs.sm"
                                        >
                                        <v-autocomplete
                                            :disabled="commune_items[0]['disabled']"
                                            v-model="commune"
                                            item-text="commune_name"
                                            item-value="commune_code"
                                            :items="commune_items"
                                            :rules="communeRules"
                                            placeholder="Comuna"
                                            color="secondary"
                                            no-data-text="No disponible"
                                        >
                                        </v-autocomplete>
                                        </v-col>
                                    </v-row>
                                </transition>  
                                <!-- End Commune -->                                  
                                <!-- Address -->
                                <transition name="fade">
                                        <v-row v-if="newPatient" justify="center">
                                            <v-col
                                                :cols="this.$store.state.layout.userInputs.cols"
                                                :sm="this.$store.state.layout.userInputs.sm"
                                            >
                                                <v-text-field
                                                    :counter="30"
                                                    v-model="address"
                                                    :rules="addressRules"
                                                    placeholder="Dirección del paciente"
                                                    required
                                                    append-icon="place"
                                                    color="secondary"
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>

                                </transition>
                                <!-- End Address -->                                  
                            </v-form>


                        <v-card-actions>
                            <v-row justify="center">
                                <v-col class="text-center" cols="10">
                                    <vue-recaptcha 
                                        class="g-recaptcha"
                                        :sitekey="reCAPTCHA_SITE_KEY"
                                        :loadRecaptchaScript="true"
                                        @verify="captchaVerify"
                                        @expired="captchaExpired">         
                                    </vue-recaptcha>
                                </v-col>
                                <v-col class="text-center" cols="10">
                                    <!-- rut login button -->
                                    <v-btn
                                        v-if="newPatient == false && returningPatient == false"
                                        :disabled="!form_rut_valid || !captcha_valid"
                                        color="secondary"
                                        @click="loginGetUser"
                                        :loading="buttonLoading"
                                        class="subtitle-2 font-weight-regular"
                                    >
                                        Ingresar
                                    </v-btn>
                                    <!-- end rut login button -->

                                    <!-- Start Again button -->
                                    <v-btn
                                        v-if="false"
                                        color="secondary"
                                        @click="startAgain"
                                        :loading="buttonLoading"
                                        class="subtitle-2 font-weight-regular"
                                    >
                                        Volver
                                    </v-btn>
                                    <!-- end rut login button -->

                                    <!-- contact data login button -->
                                    <v-btn
                                        v-if="returningPatient"
                                        :disabled="!form_rut_valid || !form_data_valid || !captcha_valid"
                                        color="secondary"
                                        @click="loginUpdateContact"
                                        :loading="buttonLoading"
                                        class="subtitle-2 font-weight-regular"
                                    >
                                        Confirmar datos e ingresar
                                    </v-btn>
                                    <!-- end contact data login button -->  

                                    <!-- extra data login button -->
                                    <v-btn
                                        v-if="newPatient"
                                        :disabled="!form_rut_valid || !form_data_valid"
                                        color="secondary"
                                        @click="loginUpdateInformation"
                                        :loading="buttonLoading"
                                        class="subtitle-2 font-weight-regular"
                                    >
                                        Registrarse e ingresar
                                    </v-btn>
                                    <!-- end extra data login button -->                                                                      
                                </v-col>
                            </v-row>
                        </v-card-actions>
                        </template>                  
                    </v-card>
                    <!-- End Login Card -->          
                </v-col>
            </v-row>
        </v-container>
    </v-content>
</template>

<script>
import axios from 'axios'
import countries from '@/views/login/locations'
import VueRecaptcha from 'vue-recaptcha';

export default {
    components: { VueRecaptcha },
    created () {        
        // evaluar que viene seleccionado telemedicina
        if(this.$route.path == '/telemedicina')
        {
            this.$ga.event('VisitaReserva', 'ReservaTelemedicina')
            // resetear el estado y setear telemedicina después
            this.resetState()
            this.setCenterTelemedicina()
            this.$store.commit('setInitTelemedicina', true)
        } else {
            this.$ga.event('VisitaReserva', 'ReservaPresencial')
            // resetear todo el store al ingresar
            this.resetState()
        }
    }, 
    watch: {
      birthdayMenu (val) {
        val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
      },
    },       
    data: () => ({
        // recibe información de paciente encontrado o creado
        patient : null,
        // controlar acciones de form de rut
        form_rut_valid: true,
        form_rut_lazy: false,
        // controlar acciones de form de data
        form_data_valid: true,
        form_data_lazy: false,
        gender_items : [
            { text: "Femenino", value: "F" },            
            { text: "Masculino", value: "M" },
        ],
        country_items : countries,
        region_items : [{region_name: "Selecciona una región", disabled: true}],
        commune_items : [{province_name: "Selecciona una provincia", disabled: true}],        
        // model de rut y reglas
        rut: null,
        rutRules: [
            v => !!v || 'Ingresa un rut válido. Sin puntos, con guión y dígito verificador',
            v => /^(\d{7,8}[-][0-9kK]{1})$/.test(v) || 'Ingresa el rut solamente con guión y dígito verificador',
        ],
        // model de nombre y reglas
        name: null,
        nameRules: [
            v => !!v || 'Ingresa nombre y un apellido del paciente',
            v => /^([a-zA-ZáäÁÄéëÉËíïÍÏóöÓÖúüÚÜñÑÿŸ]{3,15}\s{1,2}[a-zA-ZáäÁÄéëÉËíïÍÏóöÓÖúüÚÜñÑÿŸ]{3,15}\s{0,2})$/.test(v) || 'Ingresa máximo un nombre y un apellido usando solo letras',
            
        ],
        // model de email y reglas        
        email: null,
        emailRules: [
            v => !!v || 'Ingresa un email',
            v => /.+@.+\..+/.test(v) || 'Ingresa un email válido',
        ],        
        // model de teléfono y reglas        
        phone: null,
        phoneRules: [
            v => !!v || 'Se requiere un número con formato 56912345678 para permitir confirmación telefónica',
            v => /^(\d)*$/.test(v) || 'Utiliza solamente números',            
            v => (v.length == 11) || 'El número telefónico debe contener 11 números',
            
        ],
        // model de género y reglas        
        gender: null,
        genderRules: [
            v => !!v || 'Selecciona tu género de la lista',
        ],
        // model de nacionalidad y reglas        
        country: null,
        countryRules: [
            v => !!v || 'Selecciona tu nacionalidad de la lista',
        ],
        // model de region y reglas        
        region: null,
        regionRules: [
            selection => {
                if(!selection)
                {
                    return "Selecciona una región"
                } else {
                    return true
                }             
            },
        ],       
        // model de comuna y reglas        
        commune: null,
        communeRules: [
            selection => {
                if(!selection)
                {
                    return "Selecciona una comuna"
                } else {
                    return true
                }             
            },
        ],
        
        // model de nombre y reglas        
        address: null,
        addressRules: [
            v => !!v || 'Ingresa la dirección del paciente',
            
        ],         
        // model de fecha y reglas
        birthday: null,
        birthdayMenu: false,
        birth_date: null,
        birthDayRules: [
            v => !!v || 'Ingresa tu fecha de nacimiento',
        ],        
        // identifica y activa formulario de cliente nuevo
        newPatient : false,
        // identifica y activa formulario de cliente recurrente
        returningPatient : false,
        // almacena la data de usuario que no es editable, pero necesaria para actualizar sus datos
        returningPatientName : null,
        returningPatientGender : null,
        returningPatientBirthday : null,
        // controla la animación de botón de login
        buttonLoading : false,
        //RECAPTCHA
        reCAPTCHA_SITE_KEY: "6Lf288YZAAAAAAriJg5gNLNxX8gMAQvwBjdqlZoV",
        captcha_token : null,
        captcha_valid : false,
    }),
    methods: {
        ucwords : function(str) {
            //https://locutus.io/php/strings/ucwords/
            return (str + '').replace(/^(.)|\s+(.)/g, function ($1) {
                return $1.toUpperCase()
            })
        },
        validarRut: function(rutCompleto) {
            rutCompleto = rutCompleto.replace("‐","-");
            if (!/^[0-9]+[-|‐]{1}[0-9kK]{1}$/.test( rutCompleto ))
                return false;
            var tmp     = rutCompleto.split('-');
            var digv    = tmp[1];
            var rut     = tmp[0];
            if ( digv == 'K' ) digv = 'k' ;

            return (this.dv(rut) == digv );
        },
        dv : function(T){
            var M=0,S=1;
            for(;T;T=Math.floor(T/10))
                S=(S+T%10*(9-M++%6))%11;
            return S?S-1:'k';
        },        
        save (birthday) {
            this.$refs.birthdayMenu.save(birthday)
        },
        startAgain : function (){
            this.$router.go(this.$router.currentRoute)
        },
        loginGetUser : function() {
            // activar carga en UI
            this.buttonLoading = true

            // verificar formato de formulario de rut
            if(this.$refs.form_rut.validate()){
                // rut posee el formato correcto

                // obtener el rut del formulario
                let user_rut = this.rut
                let user_captcha_token = this.captcha_token
                
                // confirmar que el formato de rut sea correcto
                // con la función de validación de rut
                // ya que a nivel de expresión regular puede
                // ser correcto, pero el cálculo de dígito verificador
                // puede entregar un resultado erróneo
                if(!this.validarRut(this.rut)){
                    
                    this.rut = null
                    this.buttonLoading = false
                    this.form_rut_valid = false
                    return
                }

                // ejecutar llamada axios para buscar al usuario
                axios.get(process.env.VUE_APP_URL+'/web_patient?token='+user_captcha_token+'&rut='+user_rut)
                .then(
                    response => {
                        // obtener paciente del response
                        this.patient = response.data.patient

                        // el paciente está registrado
                        // almacenar paciente encontrado en el store

                        // activar modo de edición de info de paciente
                        if(this.patient.email == null){
                            this.email = ''
                        } else {
                            this.email = this.patient.email.toLowerCase()
                        }
                        if(this.patient.telefono == null){
                            this.phone = ''
                        } else {
                            this.phone = this.patient.telefono.toLowerCase()
                        }                        
                        // setear el email en su campo para permitir la edición
                        
                        // setear data adicional para permitir la lectura
                        this.returningPatientName = this.patient.nombre.toLowerCase()
                        //this.returningPatientGender = this.patient.sexo.toLowerCase()
                        //this.returningPatientBirthday = this.patient.fecha_nacimiento.toLowerCase()

                        this.returningPatient = true
                        this.buttonLoading = false
                    }
                )
                .catch((error) => {
                    if(error.response.status == 403){
                        // supuesto captcha
                        this.buttonLoading = false
                        this.captcha_valid = false
                        window.grecaptcha.reset()
                    }

                    if(error.response.status == 404){
                        // paciente no está registrado
                        this.newPatient = true
                        this.buttonLoading = false
                        return
                    }
                })                
            } else {
                // formato de rut inválido
                this.buttonLoading = false
                return
            }
        },
        loginUpdateContact : function() {
            // activar carga en UI
            this.buttonLoading = true

            // verificar formato de rut y datos adicionales formulario de datos adicionales
            if(this.$refs.form_rut.validate() && this.$refs.form_data.validate()){
                // data posee el formato correcto

                // obtener correo y teléfono del formulario
                // y añadirlos a un nuevo objeto para actualizar
            
                var returning_patient = new FormData()

                returning_patient.set("rut",  this.rut.toUpperCase())                               // obtenido del formulario
                returning_patient.set("nombre",  this.returningPatientName.toLowerCase())           // obtenido del request
                //returning_patient.set("nacimiento",  this.returningPatientBirthday.toLowerCase())   // obtenido del request
                //returning_patient.set("sexo",  this.returningPatientGender.toLowerCase())           // obtenido del request
                returning_patient.set("email",  this.email.toLowerCase())                           // obtenido del formulario
                returning_patient.set("telefono",  this.phone)                                      // obtenido del formulario

                axios({
                    method: 'post',
                    url: process.env.VUE_APP_URL+'/patient',
                    data: returning_patient,
                    headers: {'Content-Type': 'multipart/form-data' }
                })
                .then( response => (
                    // obtener paciente del response
                    this.patient = response.data.patient
                ))
                .then( () => {
                    // evaluar si se actualizó un paciente
                    if(this.patient == null){
                        // falló el registro del paciente
                        // terminar la imagen de carga
                        this.buttonLoading = false
                        return
                    } else {
                        // el paciente está registrado

                        var stored_patient = {
                            "rut" : this.patient.rut.toLowerCase(),
                            "name" : this.patient.nombre.toLowerCase(),
                            "email" : this.patient.email.toLowerCase(),
                            "phone" : this.patient.telefono,
                        }
                        
                        // almacenar paciente encontrado en el store
                        this.setPatient(stored_patient)
                        // terminar la imagen de carga
                        this.buttonLoading = false
                        // entregar acceso
                        this.$router.push({ path: '/search' })
                    }
                })
            } else {
                // formato de rut inválido
                this.buttonLoading = false
                return
            }
        },        
        loginUpdateInformation : function() {
            // activar carga en UI
            this.buttonLoading = true

            // verificar formato de rut y datos adicionales formulario de datos adicionales
            if(this.$refs.form_rut.validate() && this.$refs.form_data.validate()){
                // data posee el formato correcto

                // obtener todos los datos del formulario
                // y añadirlos a un nuevo objeto para registrar

                var new_patient = new FormData()

                new_patient.set("rut",  this.rut.toLowerCase())
                new_patient.set("nombre",  this.name.toLowerCase())
                new_patient.set("email",  this.email.toLowerCase())
                new_patient.set("sexo",  this.gender.toLowerCase())
                new_patient.set("nacimiento",  this.birthday)
                new_patient.set("telefono",  this.phone)
                new_patient.set("direccion", this.address)

                if(this.country == 'EX'){
                    new_patient.set("cod_nacionalidad", '')
                    new_patient.set("cod_region", '')
                    new_patient.set("cod_comuna", '')
                } else {
                    new_patient.set("cod_nacionalidad",  this.country)
                    new_patient.set("cod_region", this.region)     
                    new_patient.set("cod_comuna", this.commune) 
                }

                axios({
                    method: 'post',
                    url: process.env.VUE_APP_URL+'/patient',
                    data: new_patient,
                    headers: {'Content-Type': 'multipart/form-data' }
                })
                .then( response => (
                    // obtener paciente del response
                    this.patient = response.data.patient
                ))
                .then( () => {
                    // evaluar si se creó un paciente
                    if(this.patient == null){
                        // falló el registro del paciente
                        // terminar la imagen de carga
                        this.buttonLoading = false
                        return
                    } else {
                        // el paciente está registrado

                        var stored_patient = {
                            "rut" : this.patient.rut.toLowerCase(),
                            "name" : this.patient.nombre.toLowerCase(),
                            "email" : this.patient.email.toLowerCase(),
                            "phone" : this.patient.telefono,
                        }
                        
                        // almacenar paciente encontrado en el store
                        this.setPatient(stored_patient)
                        // terminar la imagen de carga
                        this.buttonLoading = false

                        // entregar acceso
                        this.$router.push({ path: '/search' })
                    }
                })
            } else {
                // formato de rut inválido
                this.buttonLoading = false
                return
            }
        },
        setPatient : function(patient){
            
            // setear en la store al paciente obtenido o creado
            // para avanzar a la búsqueda principal

            this.$store.commit('setUserRut', patient.rut.toLowerCase())
            this.$store.commit('setUserName', this.ucwords(patient.name.toLowerCase()))
            this.$store.commit('setUserEmail', patient.email.toLowerCase())
            this.$store.commit('setUserPhone', patient.phone.toLowerCase())
            //this.$store.commit('setUserGender', patient.gender.toLowerCase())
            //this.$store.commit('setUserBirthday', patient.birthday.toLowerCase())

            // evaluar si visita corresponde a telemedicina
            // para registrar evento de login
            if(this.$route.path == '/telemedicina')
            {
                this.$ga.event('LoginReserva', 'ReservaTelemedicina')
            } else {
                this.$ga.event('LoginReserva', 'ReservaPresencial')
            }            

            return true
        },
        setCenterTelemedicina : function(){
            // setear telemedicina como especialidad de entrada
            this.$store.commit('setSelectedCenter', {"id" : 10003416, "name" : "Telemedicina"})
        },
        fetchRegionItems: function () {
            this.region = null
            this.commune = null

            if(this.country == 'EX'){
                this.region = '99'
                this.commune = '9999'
            }

            this.region_items   = [{region_name: "Selecciona una región", disabled: true}]
            this.commune_items  = [{commune_name: "Selecciona una comuna", disabled: true}]
            
            Object.entries(this.country_items).forEach((country) => {
                if(country[1]['country_code'] == this.country)
                {   
                    if(country[1]['regions']){
                        this.region_items = country[1]['regions']
                    }
                }
            });
        },
        fetchCommuneItems: function () {
            this.commune = null
            this.commune_items  = [{commune_name: "Selecciona una comuna", disabled: true}]
            
            let communes = []
            Object.entries(this.region_items).forEach((region) => {
                if(region[1]['region_code'] == this.region)
                {   
                    Object.entries(region[1]['provinces']).forEach((province) => {
                        Object.entries(province[1]['communes']).forEach((commune) => {
                            communes.push(commune[1])
                        });
                    });
                }
            });
            this.commune_items = communes
        },        
        resetState : function(){
            // resetear toda la data de cliente
            this.$store.commit('setUserRut', null)
            this.$store.commit('setUserName', null)
            this.$store.commit('setUserEmail', null)
            this.$store.commit('setUserPhone', null)
            this.$store.commit('setUserGender', null)
            this.$store.commit('setUserBirthday', null)            

            // resetear todas las selecciones que el cliente ha realizado
            this.$store.commit('setSelectedSpecialty', {"id" : null, "name" : null})
            this.$store.commit('setSelectedCenter', {"id" : null, "name" : null})
            this.$store.commit('setSelectedProfessional', {"rut" : null, "name" : null, "specialty_id" : null, "specialty_name" : null})
            this.$store.commit('setSelectedDate', {"selectedDate" : null, "selectedHour" : null})

            // resetear inicializaciones de página
            this.$store.commit('setInitTelemedicina', false)
        },
        captchaVerify : function(){
            this.captcha_valid = true
            this.captcha_token = window.grecaptcha.getResponse()
            console.log(this.captcha_token)
        },
        captchaExpired : function(){
            this.captcha_valid = false;
        }
    },
    computed: {        
        maxDate: function () {
            // returns maximum date for picker (current day)
            // get current Javascript date
            let some_years_ago = new Date()
            // substracting 5 years for maximum date
            some_years_ago.setMonth(some_years_ago.getMonth() - 12);
            // get month with leading zero if lower than 10
            let month   = (some_years_ago.getMonth()+1) < 10 ? '0' + (some_years_ago.getMonth()+1) : (some_years_ago.getMonth()+1)
            // get day with leading zero if lower than 10
            let day     = some_years_ago.getDate() < 10 ? '0' + some_years_ago.getDate() : some_years_ago.getDate()
            // get full year
            let year    = some_years_ago.getFullYear()
            // composing date with hyphens (mandatory for v-picker)
            let maximumDate = year  + "-" + month + "-" + day
            
            return  maximumDate
            // resource : https://www.w3resource.com/javascript-exercises/javascript-basic-exercise-3.php
        },   
        formattedDate: function () {
            // return function to format date and display in chile time
            let options = {year: "numeric", month: "numeric", day: "numeric"}
            // we need to replace hyphens with dashes, because javascript treates them differently
            // with dashes (/) being more precise
            return date => new Date(date.replace(/-/g, '/')).toLocaleString('es-CL', options)

            // extended example
            // let options = {weekday: "long", year: "numeric", month: "long", day: "numeric", hour: "numeric", hour12:"false"}
            // resource : https://www.aprenderaprogramar.com/index.php?option=com_content&view=article&id=846:formato-fechas-javascript-tostring-tolocaledatestring-tolocaletimestrig-totimestring-ejemplo-cu01163e&catid=78&Itemid=206
        },     
    },    
};
</script>

<style scoped>

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.text-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

</style>
