<template>
    <v-row justify="center">
        <v-col cols="12">
            <!-- loading -->
            <Loader v-if="centers==null"></Loader>
            <!-- loading -->
            <v-list v-else-if="centers!=null" dense>
                <v-list-item-group color="secondary">
                    <template v-for="center in centers">
                        <v-list-item
                            :key="center.id"
                        >
                            <v-list-item-icon>
                                <v-icon color="secondary">business</v-icon>
                            </v-list-item-icon>

                            <v-list-item-content
                                @click="setSelectedCenter(center)">
                                <v-list-item-title class="subtitle-1 font-weight-regular primary_text--text" v-text="center['full-name']"></v-list-item-title>
                                <v-list-item-subtitle class="subtitle-2 font-weight-regular secondary_text--text" v-text="center.address"></v-list-item-subtitle>
                            </v-list-item-content>
                            <v-btn 
                                class="mx-2"
                                color="success"
                                x-small 
                                icon
                                @click="setSelectedCenter(center)"
                            >
                                <v-icon dark>done</v-icon>
                            </v-btn>
                            <v-btn
                                :href="center.link" 
                                target="_blank"
                                x-small
                                color="action"
                                icon
                            >
                                <v-icon>place</v-icon>
                            </v-btn>                                                          
                        </v-list-item>  
                    </template>                                                 
                </v-list-item-group>
            </v-list>   
        </v-col>
        <v-col
            class="text-center"
            cols="12"
        > 
            <v-divider class="mx-2"></v-divider>
        </v-col>
        <!-- Navigation Links -->
        <!-- Backwards and forward -->   
        <v-col
            class="text-center"
            cols="6"
        > 
            <!-- Previous -->
            <v-btn
                color="secondary"
                @click="returnToSpecialty"
                class="my-2 subtitle-2 font-weight-regular"
            >
                Volver
            </v-btn>                             
        </v-col>          
    </v-row>
</template>

<script>
import Loader from '@/components/search/Loader.vue'
// importar axios para request a API
import axios from 'axios'

export default {
    components: {
        Loader
    },    
    created () {
        // fetching data from bff api
        axios.get(process.env.VUE_APP_URL+'/places')
        .then(
            response => {
                // obtener centros sin ordenar ni filtrar
                let unfiltered_centers = response.data.results
                
                // crear un array para almacenar los centros filtrados
                let available_centers = []
                let unavailable_centers = []

                // iterar por todos los centros para excluir los que el negocio indica
                unfiltered_centers.forEach(element => {
                    // verificar que el centro no sea uno de los bloqueados
                    // basado o en su identificador, codename o nombre
                    // esto para garantizar que se pueda excluir tanto
                    // en QA como PRD
                    if(element.codename == 'CMFLM') // fleming
                    {
                        unavailable_centers.push(element)
                    } else {
                        // si el elemento no corresponde a uno de los bloqueados
                        // se agrega al array de centros filtrados
                        available_centers.push(element)
                    }
                });

                // se asignan los centros filtrados al listado de centros
                // que se utiliza en la interfaz
                this.centers = available_centers  
            }
        ).catch(error => {
            console.log(error)
        })
    },
    methods : {
        setSelectedCenter (center) {

            // confirmar selección de centro y guardarlo en el store
            this.$store.commit('setSelectedCenter', {id : center.id, name : center['full-name']})

            // navegar a la selección de especialidad
            this.$router.push({ path: '/search/professionals' })
        },
        returnToSpecialty : function(){
            // borrar centro seleccionado
            this.$store.commit('setSelectedCenter', { "id" : null, "name" : null })
            // navegar hacia search de especialidad
            this.$router.push({ path: '/search/professionals' })
        },
    },
    data: () => ({
        centers: null,  
    }),
};
</script>