<template>
    <v-content>
        <v-container>
            <v-row
                justify="center"
                :dense="this.$store.state.layout.topRowDense"
            >
                <v-col
                    :xs="this.$store.state.layout.mainCard.xs"
                    :sm="this.$store.state.layout.mainCard.sm"
                    :md="this.$store.state.layout.mainCard.md"
                    :lg="this.$store.state.layout.mainCard.lg"
                    :xl="this.$store.state.layout.mainCard.xl"
                >
                    <v-card
                        :tile="this.$store.state.shape.cardTile"
                    >
                        <v-tabs
                            icons-and-text
                            grow
                            slider-color="action"
                            background-color="primary"
                            dark
                            slider-size="3"
                        >
                            <v-tab class="subtitle-2 font-weight-bold" to="/search/specialities">
                                Especialidad
                                <v-icon 
                                    medium
                                >
                                    class
                                </v-icon>
                            </v-tab>
                            <v-tab class="subtitle-2 font-weight-bold" to="/search/professionals">
                                Profesional
                                <v-icon 
                                    medium
                                >
                                    perm_contact_calendar
                                </v-icon>
                            </v-tab>
                            <v-tab class="subtitle-2 font-weight-bold" to="/search/centers">
                                Centro
                                <v-icon 
                                    medium
                                >
                                    business
                                </v-icon>
                            </v-tab>
                        </v-tabs>          
                     
                        <!-- Active Selections-->
                        <ActiveFilters></ActiveFilters>
                        <!-- End Active Selections-->
                        
                        <!-- Load active route -->
                        <router-view></router-view>                         
                    </v-card>   
                </v-col>
            </v-row>
        </v-container>
    </v-content>        
</template>

<script>

import ActiveFilters from '@/components/search/ActiveFilters.vue'

export default {
    components: {
        ActiveFilters
    },
    data: () => ({
    }),
};
</script>
