<template>
    <v-row justify="center">

        <!-- Search Input Field -->
        <v-col
            :cols="this.$store.state.layout.userInputs.cols"
            :sm="this.$store.state.layout.userInputs.sm"
        >
            <!-- loading -->
            <Loader v-if="loading == true"></Loader>
            <!-- loading -->              
            <v-text-field
                v-if="professionals != null"
                class="mb-n10"
                clearable
                outlined
                color="secondary"
                label="Buscar profesional"
                prepend-inner-icon="search"
                :loading="search_loading"
                v-model="search_string"
                v-on:keyup="filterResults()"
                v-on:blur="search_loading=false"
                @click:clear="clearSearch()"
            ></v-text-field>
        </v-col>
        <!-- Search Input Field -->          
        <v-col cols="12">      
                <template v-if="professionals != null">
                    <v-list dense>
                        <v-list-item-group 
                            color="secondary"
                        >
                            <template v-for="professional in professionals.slice(startElement, endElement)">
                                <v-list-item
                                    @click="confirmSelection(professional[1].rut, professional[1].fname, professional[1].specialty, professional[1]['specialty-name'])"
                                    :key="professional[0]"
                                >
                                    <v-list-item-avatar>
                                        <img :src="professional[1].thumb">
                                    </v-list-item-avatar>

                                    <v-list-item-content>
                                        <v-list-item-title class="subtitle-1 font-weight-regular mb-1" v-text="professional[1].fname"></v-list-item-title>
                                        <v-list-item-subtitle class="subtitle-2 font-weight-regular mb-1" v-text="professional[1]['specialty-name']"></v-list-item-subtitle>
                                        <template v-if="getClosestDays(professional[1].closest_days).length > 0">
                                            <!-- se muestra solamente cuando el profesional tiene días próximos con disponibilidad -->
                                            <v-list-item-subtitle 
                                                v-for="(day, day_idx) in getClosestDays(professional[1].closest_days)"
                                                v-bind:key="day_idx"
                                                class="subtitle-2 font-weight-regular primary--text"
                                            >
                                                <v-icon class="mt-n1" small color="primary">mdi-arrow-right-circle-outline</v-icon> {{formatCenterName(day.centro)}} - {{formatDate(day.dia)}} - {{day.hora}}
                                            </v-list-item-subtitle>
                                        </template>
                                        <template v-else>
                                            <!-- se muestra solo si el profesional no tiene días próximos con disponibilidad -->
                                            <v-list-item-subtitle v-if="center_name != null" class="subtitle-2 action--text font-weight-regular" v-text="'Sin disponibilidad próxima en '+center_name"></v-list-item-subtitle>
                                            <v-list-item-subtitle v-else                     class="subtitle-2 action--text font-weight-regular" v-text="'Sin disponibilidad próxima'"></v-list-item-subtitle>
                                            
                                        </template>
                                    </v-list-item-content>
                                    
                                    <!-- Enter Booking Calendar -->
                                    <v-btn
                                    @click="confirmSelection(professional[1].rut, professional[1].fname, professional[1].specialty, professional[1]['specialty-name'])"
                                        x-small
                                        color="secondary"
                                        icon
                                    >
                                        <v-icon dark>date_range</v-icon>
                                    </v-btn>
                                </v-list-item>  
                            </template>
                        </v-list-item-group>
                    </v-list>
                </template>

                <!-- Mensaje de sin resultados -->
                <template v-if="loading == false && professionals == null">
                    <v-col
                        cols="10"
                    >
                        <v-card
                            tile
                            flat
                        >
                            <v-card-title class="subtitle-1 font-weight-light">No hay especialistas disponibles</v-card-title>
                            <v-card-subtitle class="subtitle-1 font-weight-light">Lo sentimos</v-card-subtitle>
                        </v-card>
                    </v-col>                    
                </template>
                <!-- Mensaje de sin resultados -->
        </v-col>
        
        <!-- Pagination -->
        <template v-if="professionals != null && pagination_total_pages > 1">
            <v-col
                class="text-center"
                cols="11"
            >                
                <div class="text-center mt-2 mb-n4">
                    <v-pagination
                    v-model="pagination_current_page"
                    :length="pagination_total_pages"
                    :total-visible="6"
                    ></v-pagination>
                </div>
            </v-col>                
        </template>
        <!-- Pagination -->

        <v-col
            class="text-center"
            cols="12"
        > 
            <v-divider class="mx-2"></v-divider>
        </v-col>
        <!-- Navigation Links -->
        <!-- Backwards and forward -->   
        <v-col
            class="text-center"
            cols="6"
        > 
            <!-- Previous -->
            <v-btn
                color="secondary"
                class="my-2 subtitle-2 font-weight-regular"
                @click="returnToSpecialtySearch"
            >
                Volver
            </v-btn>                             
        </v-col>      
    </v-row>
</template>

<script>
import Loader from '@/components/search/Loader.vue'
// importar axios para realizar requests
import axios from 'axios'
// Importing MapState to use map helpers
import { mapState } from 'vuex'
export default {
    components: {
        Loader
    },
    // component data
    data: () => ({
        // define cuál es el algoritmo de sort
        // para los resultados
        active_sort : 'closest_day',
        // controla el estado de carga de input de búsqueda
        search_loading : false,
        // almacena el string de búsqueda actual
        search_string : null,
        // almacena los profesionales retornados del servicio
        fetched_professionals : null,
        // almacena los profesionales temporalmente al momento de buscar
        filtered_professionals : null,
        // almacena los resultados que se muestran
        professionals : null,
        professional_count : null,
        // inicia la paginación
        pagination_current_page : 1,
        // almacena la especialidad seleccionada por el cliente para filtro avanzado
        selected_specialty_id: null,
        // almacena el centro seleccionado por el cliente para filtro avanzado
        selected_center_id: null,
        // controla el estado del loader
        loading : true,
        // listado completo de centros
        centers : [
            [10001937, "CLLDS", "La Dehesa", "Clínica MEDS La Dehesa"],
            [10002401, "CMILC", "Isabel la Católica", "Centro MEDS Isabel la Católica"],
            [10001051, "CMCDT", "Calera de Tango", "Centro MEDS Calera de Tango"],
            [10001052, "CMMPU", "Maipú", "Centro MEDS Maipú"],
            [10001053, "CMFLM", "Fleming", "Centro MEDS Fleming"],
            [10001054, "CMRNC", "Rancagua", "Centro MEDS Rancagua"],
            [10001750, "CMLBR", "Las Brujas", "Centro MEDS Las Brujas"],
            [10003180, "CMPDR", "Piedra Roja", "Centro MEDS Piedra Roja"],
            [10003275, "CMANTOFA", "Antofagasta", "Centro MEDS Antofagasta"],
            [10003416, "CMCMV", "Telemedicina", "Telemedicina"],
        ],
        // listado completo de especialidades
        specialties : [
            ["3", "Cirugia General"],
            ["5", "Dermatologia"],
            ["16", "Neurocirugia"],
            ["17", "Neurologia"],
            ["18", "Kinesiologia"],
            ["19", "Acupuntura"],
            ["20", "Cirugia Digestiva"],
            ["21", "Cirugia Coloproctologia"],
            ["26", "Medicina General"],
            ["27", "Medicina Interna"],
            ["29", "Cardiologia"],
            ["32", "Endocrinologia"],
            ["34", "Infectologia"],
            ["35", "Gastroenterologia"],
            ["36", "Geriatria"],
            ["38", "Traumatologia Y Ortopedia Pie"],
            ["39", "Traumatologia Y Ortopedia Columna"],
            ["41", "Fonoaudiologia"],
            ["65", "Psiquiatria"],
            ["66", "Psiquiatria Del Nino/Adolescente"],
            ["67", "Radiología"],
            ["72", "Traumatologia Y Ortopedia"],
            ["73", "Traumatologia Y Ortopedia Infantil"],
            ["76", "Spa"],
            ["81", "Traumatologia Y Ortopedia Tobillo"],
            ["82", "Nutricion"],
            ["83", "Traumatologia Y Ortopedia Rodilla"],
            ["85", "Traumatologia Y Ortopedia Cadera"],
            ["86", "Reumatologia Adultos"],
            ["88", "Pediatria"],
            ["101", "Traumatologia Y Ortopedia Codo"],
            ["102", "Traumatologia Y Ortopedia Hombro"],
            ["103", "Traumatologia Y Ortopedia Mano"],
            ["104", "Neurokine"],
            ["105", "Reflexologia"],
            ["106", "Quiropraxia"],
            ["107", "Terapia Ocupacional"],
            ["112", "Podologia"],
            ["113", "Nutriólogo"],
            ["114", "Deportología"],
            ["115", "Hipoxia"],
            ["116", "Gym"],
            ["118", "Anestesiologia"],
            ["119", "Cirugia Plastica"],
            ["123", "Psicologia"],
            ["128", "Urologia"],
            ["138", "Medicina Del Dolor"],
            ["139", "Neurologia Infantil"],
            ["140", "Ginecologia"],
            ["142", "Cirugia Vascular Periferica"],
            ["146", "Cirugia Toracica"],
            ["148", "Cirugia Endoscopica"],
            ["150", "Cosmetologia"],
            ["153", "Cirugia De Cabeza Y Cuello"],
            ["154", "Medicina Complementaria Ayurvedica"],
            ["156", "Mastologia"],
            ["158", "Cirugia Maxilo Facial"],
            ["159", "Fonoaudiologia Infantil"]
        ]
    }),

    created () {
        // obtener centro seleccionado por el usuario
        this.selected_center_id = this.$store.getters.getSelectedCenterId
        // obtener especialidad seleccionada por el usuario
        this.selected_specialty_id = this.$store.getters.getSelectedSpecialtyId        

        // evaluar si se ha seleccionado especialidad para consultar
        // listado completo o filtrado por especialidad

        let query_string = null

        // ni especialidad ni centro seleccionado
        if(this.selected_specialty_id == null && this.selected_center_id == null){
            query_string = process.env.VUE_APP_URL+'/doctors?order=1'
        }
        // solo especialidad seleccionada
        else if(this.selected_specialty_id != null && this.selected_center_id == null){
            // usuario ha seleccionado especialidad y consultamos por
            // los profesionales asociados a esa especialidad
            query_string = process.env.VUE_APP_URL+'/doctors?order=1&specialty='+this.selected_specialty_id
        }
        // solo centro seleccionado
        else if(this.selected_center_id != null && this.selected_specialty_id == null){
            // usuario ha seleccionado especialidad y consultamos por
            // los profesionales asociados a esa especialidad
            query_string = process.env.VUE_APP_URL+'/doctors?order=1&place='+this.selected_center_id
        }
        // centro y especialidad seleccionado
        else if(this.selected_center_id != null && this.selected_specialty_id != null){
            // usuario ha seleccionado especialidad y consultamos por
            // los profesionales asociados a esa especialidad
            query_string = process.env.VUE_APP_URL+'/doctors?order=1&specialty='+this.selected_specialty_id+'&place='+this.selected_center_id
        }

        // obtener todos los profesionales
        axios.get(query_string)
        .then(
            response => {
                // obtener profesionales desde servicio
                // y organizarlos usando una función
                this.sortFetchedResults(response)
            }
        ).catch((error) => {
            if(error.response.status == 404){
                this.loading = false
                this.professionals = null
            }
        })          
    },    

    methods : {
        clearSearch : function(){
            this.search_string = null
            this.filterResults()
        },
        filterResults : function(){

            // reseteamos el array de profesionales temporal
            this.filtered_professionals = null
            
            // recuperar el estado original del array si el 
            // texto de búsqueda no está presente
            if(this.search_string == null || this.search_string.length == 0){
                this.professionals = this.fetched_professionals
            } else {
                
                // reorganizar la búsqueda desde la página 1
                this.pagination_current_page = 1
                // activamos el loading para el search
                this.search_loading = true
                
                let temp_professionals = []
                
                this.fetched_professionals.forEach((professional) =>{
                    
                    // evaluar si el profesional tiene el texto de búsqueda en su nombre
                    if(professional[1]['fname'].toLowerCase().indexOf(this.search_string.toLowerCase()) > -1)
                    {
                        // si el profesional tiene el texto en su nombre
                        // entonces lo agregamos al array
                        temp_professionals.push(professional)
                    }
                })

                this.filtered_professionals = temp_professionals

                this.professionals = this.filtered_professionals
                this.professional_count = this.professionals.length
            }

            // desactivamos el loading para el search
            this.search_loading = false

        },
        sortFetchedResults : function(response){

            var professionals_json = JSON.parse(JSON.stringify(response.data.results))

            this.fetched_professionals = Object.entries(professionals_json)
            // obtener cantidad de resultados desde servicio
            this.fetched_professional_count = response.data.results_count 
            // obtener solamente los profesionales con horas más cercanas

            var available_professionals = []
            let unavailable_professionals = []

            this.fetched_professionals.forEach((professional) => {               
                if(professional[1].closest_days != null){
                    
                    // profesional tiene dias próximos

                    // -- REMOCIÓN DE CENTROS DISTINTOS AL SELECCIONADO --
                    // evaluar si se ha seleccionado un centro
                    // para solamente mostrar las horas disponibles
                    // para ese centro en particular y ningún otro

                    if(this.selected_center_id != null){

                        // array para guardar los días que hay que remover
                        var days_to_remove = []
                        
                        professional[1].closest_days.forEach((day, index_to_remove) => {
                            // iterar por todos los días próximos de profesional
                            if(day.centro != this.selected_center_id){
                                // si el día próximo no pertenece al centro escogido
                                // se agrega su índice a la lista de días por remover
                                days_to_remove.push(index_to_remove)
                                //console.log('conflicto', JSON.parse(JSON.stringify(professional[1])))
                            }
                        })  
                        
                        // una vez obtenidos los índices, se revierte el array
                        // para poder quitar los días desde el último hasta el primero
                        // esto para evitar problemas de indexación por elementos vacíos
                        days_to_remove.reverse().forEach((day) => {
                            professional[1].closest_days.splice(day,1)
                        })
                        // profesional solo tendrá como día disponible el centro seleccionado
                        // si lo traía inicialmente
                    }

                    // -- REMOCIÓN DE CENTROS BLOQUEADOS --
                    // iterar por los días próximos que tiene para encontrar centros a remover
                    professional[1].closest_days.forEach((day, index_to_remove) => {
                        
                        // se evalua si el día corresponde a un centro por quitar por bloqueo de gerencia
                        if(day.centro == '10001053')  // fleming qa y prd
                        {
                            // si el centro es telemedicina, entonces este día es removido
                            professional[1].closest_days.splice(index_to_remove,1)
                        }
                    })
                    
                    professional[1].closest_days.forEach((day, index) => {
                        professional[1].closest_days[index].hora = day.horas_disponibles[0].substring(0, 5)
                        // descomentar para logear las primeras horas de cada profesional
                        /*
                        if(index == 0){
                            console.log(
                                JSON.parse(JSON.stringify(professional[1].rut))+',',
                                JSON.parse(JSON.stringify(professional[1].specialty))+',',
                                JSON.parse(JSON.stringify(day.dia))+',',
                                JSON.parse(JSON.stringify(day.hora))+','
                            )
                        }
                        */
                    })

                    // una vez que se quitaron los días por bloqueo o selección de centro
                    // se comprueba si el profesional quedó sin días disponible
                    if(professional[1].closest_days.length > 0){
                        // si tiene una o más dias disponibles
                        // luego de la extracción de horas de centros baneados
                        // entonces queda en el listado de profesionales
                        // con próxima hora disponible
                        professional[1].closest_days.sort(function(a,b){
                            // Turn your strings into dates, and then subtract them
                            // to get a value that is either negative, positive, or zero.
                            return new Date(a.dia + " " + a.hora) - new Date(b.dia + " " + b.hora)
                        });
                        
                        available_professionals.push(professional)
                    } else {
                        // si quedó sin días por la extracción de telemedicina
                        // debe quedar en el listado de profesionales
                        // sin horas próximas disponibles
                        unavailable_professionals.push(professional)
                    }
                } else {                  
                    unavailable_professionals.push(professional)
                }
            })
        
            // concatenar el listado de profesionales con hora disponible con el de sin hora disponible
            // siempre y cuando no se haya seleccionado una especialidad.
            // si se seleccionó especialidad, no se muestran los profesionales sin hora disponible
            if(this.selected_specialty_id == null && this.selected_center_id == null){
                this.fetched_professionals = available_professionals.concat(unavailable_professionals)
            } else {
                this.fetched_professionals = available_professionals
            }
            // se guarda el estado original de los profesionales retornados
            this.professionals = this.fetched_professionals
            this.loading = false
        },     
        formatDate: function (date) {
            // return function to format date and display in chile time
            let options = {weekday: "long", month: "short", day: "numeric"}
            // we need to replace hyphens with dashes, because javascript treates them differently
            // with dashes (/) being more precise
            return new Date(date.replace(/-/g, '/')).toLocaleString('es-CL', options)

            // extended example
            // let options = {weekday: "long", year: "numeric", month: "long", day: "numeric", hour: "numeric", hour12:"false"}
            // resource : https://www.aprenderaprogramar.com/index.php?option=com_content&view=article&id=846:formato-fechas-javascript-tostring-tolocaledatestring-tolocaletimestrig-totimestring-ejemplo-cu01163e&catid=78&Itemid=206
        },
        formatCenterName: function(center_id){

            let formattedCenterName = this.centers.find(function(center){
                return center[0] == center_id
            })

            return formattedCenterName[2]
        },        
        getClosestDays : function(closest_days){
            
            // evaluar si se ha seleccionado un centro  

            if(closest_days == null){
                // profesional no tiene días próximos
                // retornamos un array vació
                return []
            } else if(this.center_id == null) {
                // profesional tiene días próximos
                // y no hay centro seleccionado
                // mostramos todas las próximas horas disponibles
                return closest_days
            } else if(this.center_id != null) {
                // profesional tiene días próximos
                // y se ha seleccionado un centro
                // mostramos las próximas horas disponibles
                // filtradas por centro
                let filtered_closest_days = []

                closest_days.forEach((day)=>{
                    if(day.centro == this.center_id){
                        filtered_closest_days.push(day)
                    }
                })
                return filtered_closest_days
            }
        },          
        returnToSpecialtySearch : function(){

            // erase professional selection
            this.$store.commit('setSelectedProfessional', { "rut" : null, "name" : null, "specialty_id" : null, "specialty_name" : null })
            
            // volver a la selección de profesionales
            this.$router.push({ path: '/search/specialities' })
        },        
        confirmSelection : function(professional_rut, professional_name, professional_specialty_id, professional_specialty_name){
            
            this.$store.commit('setSelectedProfessional', { "rut" : professional_rut, "name" : professional_name, "specialty_id" : professional_specialty_id, "specialty_name" : professional_specialty_name })

            this.$router.push({ path: '/professional' })  
        },
    },
    computed : { 
        ...mapState({
            center_id:          state => state.selections.center_id,
            center_name:        state => state.selections.center_name,
        }),          
        pagination_total_pages : function(){

            if(this.professionals.length < 10){
                return 0
            } else {

                let pages = Math.trunc(this.professionals.length / 10) + 1
                
                // verificar si el número es divisible por 10
                if(this.professionals.length  % 10 === 0){
                    
                    // si el total de registros es divisible por 10
                    // restamos una página
                    return pages -1
                } else {
                    // si es un número no divisible por 10
                    // retornamos las páginas inicialmente calculadas
                    return pages
                }
            }
        },
        startElement: function(){
            if(this.pagination_current_page == 1){
                return 0
            } else {
                return ((this.pagination_current_page * 10) - 10)
            }

        },
        endElement: function(){
            return this.startElement + 10
        },        
    }
};
</script>