<template>
    <v-row justify="center">
      <v-col cols="8">
          <!-- loading -->
          <Loader v-if="specialties.length == 0"></Loader>
          <!-- loading -->
          <v-autocomplete
              v-else
              v-model="selected_specialty_id"
              background-color="white"
              item-color="success"
              outlined
              v-on:change="resetSpecialty()"
              :items="specialties"
              :item-value="[0]"
              :item-text="[1]"
              no-data-text="No Encontrado"
              filled
              label="SELECCIONA ESPECIALIDAD"
          >
          </v-autocomplete>
      </v-col>
      <v-col
          class="text-center"
          cols="12"
      > 
        <v-divider class="mx-2"></v-divider>
      </v-col>
      <!-- Navigation Links -->
      <!-- Backwards and forward -->   
      <v-col
          class="text-center"
          cols="6"
      > 
          <!-- Previous -->
          <v-btn
              color="secondary"
              class="my-2 subtitle-2 font-weight-regular"
              @click="returnToLogin"
          >
              Volver
          </v-btn>                             
      </v-col>
      <v-col
          class="text-center"
          cols="6"
      > 
          <!-- Next -->
          <v-btn
              :disabled="selected_specialty_id == null"
              @click="confirmSelection"
              color="accent"
              class="my-2 subtitle-2 font-weight-regular"
          >
              Confirmar
          </v-btn>                                
      </v-col>
    </v-row>
</template>

<script>
import Loader from '@/components/search/Loader.vue'

import { mapState } from 'vuex'
// importar axios para realizar requests
import axios from 'axios'

export default {
  components: {
      Loader
  },    
  computed: mapState({
      center_name: state=> state.selections.center_name,
      center_id: state=> state.selections.center_id,
      init_telemedicina: state=> state.init.telemedicina,
  }),    
  data: () => ({
    
    // listado de subespecialidades
    subspecialties : 
    [
      // subespecialidades de traumatología y ortopedia
      {"parent_id" : 72, "id" : 38, "name" : "Traumatología y Ortopedia Pie"},
      {"parent_id" : 72, "id" : 39, "name" : "Traumatología y Ortopedia Columna"},
      {"parent_id" : 72, "id" : 73, "name" : "Traumatología y Ortopedia Infantil"},
      {"parent_id" : 72, "id" : 81, "name" : "Traumatología y Ortopedia Tobillo"},
      {"parent_id" : 72, "id" : 83, "name" : "Traumatología y Ortopedia Rodilla"},
      {"parent_id" : 72, "id" : 85, "name" : "Traumatología y Ortopedia Cadera"},
      {"parent_id" : 72, "id" : 101, "name" : "Traumatología y Ortopedia Codo"},
      {"parent_id" : 72, "id" : 102, "name" : "Traumatología y Ortopedia Hombro"},
      {"parent_id" : 72, "id" : 103, "name" : "Traumatología y Ortopedia Mano"},

      // subespecialidades de cirugía
      {"parent_id" : 3, "id" : 20, "name" : "Cirugía Digestiva"},
      {"parent_id" : 3, "id" : 21, "name" : "Cirugía Coloproctología"},
      {"parent_id" : 3, "id" : 142, "name" : "Cirugía Vascular Periférica"},
      {"parent_id" : 3, "id" : 146, "name" : "Cirugía Torácica"},
      {"parent_id" : 3, "id" : 148, "name" : "Cirugía Endoscópica"},
      {"parent_id" : 3, "id" : 153, "name" : "Cirugía De Cabeza Y Cuello"},
      {"parent_id" : 3, "id" : 158, "name" : "Cirugía Maxilo Facial"},
    ],
    
    // almacena la especialidad o subespecialidad seleccionada
    selected_specialty_id : null,
    selected_subspecialty_id : null,
    // almacena las especialidades retornadas por el servicio
    specialties : [],
    // almacena las subespecialidades correspondientes a la especialidad seleccionada
    // siempre que esta posea subespecialidades
    fetched_subspecialties : [],
  }),

  created () {

    let query_string = null

    // verificar si se ha seleccionado centro
    if(this.center_id == null){
      // si no se especifica centro, se buscan todas las especialidades
      query_string = process.env.VUE_APP_URL+'/specialties'
    } else {
      // si el usuario seleccionó centro, se buscan solamente 
      // las especialidades disponibles para ese centro
      query_string = process.env.VUE_APP_URL+'/specialties?place='+this.center_id
    }

    // ejecutar llamada al servicio de especialidades
    axios.get(query_string)
      .then(
        response => {
          // obtener especialidades de servicio
          let service_specialties = response.data.results  
          // convirtiendo las especialidades a array para iterar
          service_specialties = Object.entries(service_specialties)

          // ordenando las especialidades alfabéticamente por su nombre
          service_specialties.sort((a, b) => a[1].localeCompare(b[1]))

          // asignar las especialidades obtenidas y agregarlas al componente
          this.specialties = service_specialties
        }
      )    
  },
    methods : {
      resetSpecialty : function(){
        // resetear la especialidad seleccionada
        this.$store.commit('setSelectedSpecialty', { "id" : null, "name" : null })
      },
      returnToLogin : function(){
        // borrar especialidad o subespecialidad seleccionada
        this.$store.commit('setSelectedSpecialty', { "id" : null, "name" : null })
        // navegar hacia login
        if(this.init_telemedicina){
            this.$router.push({ path: '/telemedicina' })
        } else {
            this.$router.push({ path: '/login' })
        }
      },        
      confirmSelection : function(){
        
        // evaluar si el usuario seleccionó una especialidad
        if(this.selected_specialty_id != null){
          // el usuario seleccionó especialidad
          // obtendremos entonces el id y el nombre de esa especialidad

          // iterar entre las especialidades
          this.specialties.forEach((specialty)=>{

            // encontrar la especialidad que posee el mismo id
            if(specialty[0] == this.selected_specialty_id)
            { 
              // cuando se hace un match con la especialidad, se guarda como la especialidad seleccionada
              this.$store.commit('setSelectedSpecialty', { "id" : specialty[0], "name" :specialty[1] })
              // navegación hacia la búsqueda de profesionales
              this.$router.push({ path: '/search/professionals' }) 
            }
          })
        } else {
          return
        }
      }      
    },

};
</script>